---
import Hero from "@/common/components/Hero.astro";
import SideBarUnGrad from "@/common/components/SIdebar/SideBar.astro";
import Render from "@/common/page/render.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { createSidebarItemsGraduate, programPageID } from "@/libs/const";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("program.graduate.amcs.overview.title")}>
    <Hero
        title={t("program.graduate.amcs.overview.hero.title")}
        subtitle={t("program.graduate.amcs.overview.hero.subTitle")}
    />
    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-5 md:gap-10 mb-20 p-5">
        <aside class="col-span-1">
            <nav class="bg-gray-50 sticky top-32">
                <SideBarUnGrad navItems={createSidebarItemsGraduate("amcs", lang)} />
            </nav>
        </aside>
        <main class="md:col-span-3 grid overflow-x-auto scroll-smooth">
            <Render pageId={programPageID.graduate.amcs.overview.th} />
        </main>
    </div>
</BaseLayout>
