---
import Hero from "@/common/components/Hero.astro";
import SideBarGrad from "@/common/components/SIdebar/SideBarGrad.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { CourseAPI, CourseName } from "@/libs/api/course";
const courseAPI = new CourseAPI();
const content = await courseAPI.getCourse(
    CourseName.AMCS,
    "qualification_exam_thai",
);
---

<BaseLayout title="Applied Mathematics and Computational Science Program">
    <Hero
        title="Applied Mathematics and Computational Science (M.Sc & Ph.D.)"
    />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20 p-5">
        <aside>
            <SideBarGrad />
        </aside>
        
        <main class="md:col-span-3 space-y-5 my-5">
            <h2 class="text-5xl font-semibold font-kanit">Qualifying Exam</h2>
            <div set:html={content} />
        </main>
    </div>
</BaseLayout>
