---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import NewsCard2 from "@/modules/news-events/components/news/NewsCard2.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getNews } from "@/libs/api/post";
const apams = await getNews("apam", -1);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("news.apam.title")}>
	<Hero title={t("news.apam.hero.title")} subtitle={t("news.apam.hero.subTitle")} />
	<main class="mx-auto my-5 mb-20 max-w-screen-xl space-y-5 px-5">
		<section>
			<h2 class="font-kanit text-2xl font-bold lg:text-3xl">{t("news.apam.what_is_apam")}</h2>
			<p class="font-sarabun my-5">
				Annual Pure and Applied Mathematics Conference (APAM) is organized by the Department of Mathematics and Computer Science, Faculty of Science, Chulalongkorn University (held for the first time in 2008 under the name Annual Mathematics Conference). The objective is being a platform for students, alumni, professors and researchers from various educational institutions across the country to exchange their knowledge, research studies and experiences in pure and applied mathematics, mathematics education and computer science. Moreover, the conference provides a stage for students and researchers to present their research studies nationally with the hope to enhance students’ confidence in presenting their work to advance to international stages. From the past years of the conference, there have been many participants and presentations of academic works from universities, educational institutions, as well as government and private organizations. The department has continuously improved the organization of the conference. The conference consists of
				<ol class="list-decimal list-inside space-y-2.5 py-2">
					<li>Oral presentations in the topic of mathematics (pure or applied), mathematics education, computer science or related topics which have been reviewed by the academic committees, presented by students (from schools, colleges or universities), alumni, professors and researchers.</li>
					<li>Special lectures from invited speakers. Topics vary for each year.</li>
				</ol>
			</p>
		</section>
		<section>
			<h2 class="font-kanit text-2xl font-bold lg:text-3xl">{t("news.apam.news-updates")}</h2>

			<div class="mt-5 grid grid-cols-4 gap-5">
				{
					apams.map((apam: any) => {
						return <NewsCard2 news={apam} />;
					})
				}
			</div>
		</section>
	</main>
</BaseLayout>
