---
import Hero from "@/common/components/Hero.astro";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ChevronRightIcon from "@heroicons/react/24/solid/ChevronRightIcon";

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
---

<BaseLayout
	title="หลักสูตรบัณฑิตศึกษา | ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์"
	description="ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์ จุฬาลงกรณ์มหาวิทยาลัย มีหลักสูตรระดับบัณฑิตศึกษาต่างๆ เพื่อวางรากฐานสำหรับการทำวิจัย และ/หรือเตรียมความพร้อมนิสิตสำหรับการทำงานในภาคอุตสาหกรรม ไม่ว่าท่านจะสนใจคณิตศาสตร์บริสุทธิ์หรือประยุกต์ วิทยาการคอมพิวเตอร์และเทคโนโลยีสารสนเทศ หรือการบูรณาการข้ามศาสตร์ของสาขาข้างต้น เรามีหลักสูตรที่สอดคล้องความต้องการของท่าน นอกจากนี้เรายังมีบรรยากาศทางวิชาการที่กระตุ้นและส่งเสริมการพัฒนาความรู้ความสามารถและการพัฒนาด้านวิชาชีพอีกด้วย"
>
	<Hero title="หลักสูตรบัณฑิตศึกษา" />

	<main class="mb-20 mt-10 space-y-10">
		<section class="mx-auto max-w-screen-xl space-y-5 px-5">
			<h2 class="sr-only font-kanit text-5xl font-semibold">ภาพรวม</h2>
			<p class="font-sarabun text-lg">
				ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์ จุฬาลงกรณ์มหาวิทยาลัย มีหลักสูตรระดับบัณฑิตศึกษาต่างๆ
				เพื่อวางรากฐานสำหรับการทำวิจัย และ/หรือเตรียมความพร้อมนิสิตสำหรับการทำงานในภาคอุตสาหกรรม
				ไม่ว่าท่านจะสนใจคณิตศาสตร์บริสุทธิ์หรือประยุกต์ วิทยาการคอมพิวเตอร์และเทคโนโลยีสารสนเทศ
				หรือการบูรณาการข้ามศาสตร์ของสาขาข้างต้น เรามีหลักสูตรที่สอดคล้องความต้องการของท่าน นอกจากนี้
				เรายังมีบรรยากาศทางวิชาการที่กระตุ้นและส่งเสริมการพัฒนาความรู้ความสามารถและการพัฒนาด้านวิชาชีพอีกด้วย
			</p>
		</section>

		<section class="mx-auto max-w-screen-xl space-y-5 px-5">
			<h2 class="font-kanit text-5xl font-semibold">หลักสูตรบัณฑิตศึกษา</h2>
			<div class="grid gap-5 md:grid-cols-3">
				<article class="bg-slate-800 text-white shadow-lg">
					<img src="/placeholder.jpeg" alt="" class="brightness-75 filter" />
					<div class="flex h-full flex-col justify-between space-y-2.5 p-5">
						<div>
							<h3 class="mb-2.5 font-kanit text-3xl font-medium">คณิตศาสตร์</h3>
						</div>
						<a
							href={translatePath("/graduate/mathematics")}
							class="flex items-center font-kanit text-yellow-500"
							>สำรวจ <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
				<article class="bg-slate-800 text-white shadow-lg">
					<div class="flex h-full flex-col justify-between space-y-2.5 p-5">
						<div>
							<h3 class="mb-2.5 font-kanit text-3xl font-medium">คณิตศาสตร์ประยุกต์และทฤษฎีการคณณา</h3>
						</div>
						<a href={translatePath("/graduate/amcs")} class="flex items-center font-kanit text-yellow-500"
							>สำรวจ <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
				<article class="bg-slate-800 text-white shadow-lg">
					<div class="flex h-full flex-col justify-between space-y-2.5 p-5">
						<div>
							<h3 class="mb-2.5 font-kanit text-3xl font-medium">
								วิทยาการคอมพิวเตอร์และเทคโนโลยีสารสนเทศ
							</h3>
						</div>
						<div class="flex space-x-10">
							<a
								href={translatePath("/graduate/csit")}
								class="flex items-center font-kanit text-yellow-500"
								>สำรวจ <ChevronRightIcon className="h-4 w-4" /></a
							>
						</div>
					</div>
				</article>
			</div>
		</section>
	</main>
</BaseLayout>
