{
    "tabWidth": 2,
	"useTabs": true,
    "semi": true,
    "printWidth": 120,
    "plugins": [
        "prettier-plugin-astro",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "tabWidth": 4
            }
        }
    ],
    "tailwindConfig": "tailwind.config.mjs",
    "tailwindFunctions": ["cn"]
}