---
import Hero from "@/common/components/Hero.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import AdministratorCard from "./components/AdministratorCard.astro";
import HeadCard from "./components/HeadCard.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="Administration">
	<Hero title="Administration" />

	<main class="mx-auto mt-5 grid max-w-screen-xl px-5">
		<section class="border-b-2 py-5">
			<HeadCard
				name={t("administration.position.department_head.name")}
				position={t("administration.position.department_head")}
				office="MATH 318, MATH 1309/10"
				phone="02-218-5145, 02-218-5162"
				email="athipat.th@chula.ac.th"
			/>
		</section>
		<section class="border-b-2 py-5">
			<h2 class="border-l-4 border-l-primary pl-2 font-kanit text-2xl font-bold lg:text-3xl">
				{t("administration.position.undergraduate.director")}
			</h2>
			<main class="mt-2.5 grid space-y-2.5 md:grid-cols-2">
				<AdministratorCard
					name={t("administration.position.undergraduate.director.mathematics.name")}
					position={t("administration.program.undergraduate.mathematics")}
					office="MATH 1208/7"
					phone="02-218-7119"
					email="Sajee.P@chula.ac.th"
				/>
				<AdministratorCard
					name={t("administration.position.undergraduate.director.computer_science.name")}
					position={t("administration.program.undergraduate.computer_science")}
					office="MATH 1008/13"
					phone="02-218-5156"
					email="Nagul.C@chula.ac.th"
				/>
			</main>
		</section>
		<section class="border-b-2 py-5">
			<h2 class="border-l-4 border-l-primary pl-2 font-kanit text-2xl font-bold lg:text-3xl">
				{t("administration.position.graduate.director")}
			</h2>
			<main class="mt-2.5 grid space-y-2.5 md:grid-cols-2">
				<AdministratorCard
					name={t("administration.position.graduate.director.mathematics.name")}
					position={t("administration.program.graduate.mathematics")}
					office="MATH 1008/4"
					phone="02-218-5155"
					email="yotsanan.m@chula.ac.th"
				/>
				<AdministratorCard
					name={t("administration.position.graduate.director.csit.name")}
					position={t("administration.program.graduate.csit")}
					office="MATH 1108/11"
					phone="02-218-5221"
					email="suphakant.p@chula.ac.th"
				/>
				<AdministratorCard
					name={t("administration.position.graduate.director.amcs.name")}
					position={t("administration.program.graduate.amcs")}
					office="MATH 1208/16"
					phone="02-218-7123"
					email="Krung.s@chula.ac.th"
				/>
				<AdministratorCard
					name={t("administration.position.cooperative_advisor.name")}
					position={t("administration.position.cooperative_advisor")}
					office="MATH 1208/11"
					phone="02-218-5152"
					email="jaruloj@gmail.com"
				/>
			</main>
		</section>
		<section class="py-5">
			<main class="mt-2.5 grid space-y-2.5 md:grid-cols-2">
				<AdministratorCard
					name={t("administration.position.office_manager.name")}
					position={t("administration.position.office_manager")}
					office="MATH 322"
					phone="02-218-5142"
					email="Arpornthip.S@chula.ac.th"
				/>
				<AdministratorCard
					name={t("administration.position.graduate_coordinator.name")}
					position={t("administration.position.graduate_coordinator")}
					office="MATH 323"
					phone="02-218-5172"
					email="Nanicha.T@chula.ac.th"
				/>
			</main>
		</section>
	</main>
</BaseLayout>
