---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import AdministratorCard from "./components/AdministratorCard.astro";
import HeadCard from "./components/HeadCard.astro";
---

<BaseLayout title="Administration">
    <Hero title="Administration" />

    <main class="max-w-screen-xl mx-auto px-5 mt-5 grid">
        <section class="border-b-2 py-5">
            <HeadCard
                name="Athipat Thamrongthanyalak"
                position="Department Head"
                office="MATH 318, MATH 1309/10"
                phone="02-218-5145, 02-218-5162"
                email="athipat.th@chula.ac.th"
            />
        </section>
        <section class="border-b-2 py-5">
            <h2
                class="text-2xl lg:text-3xl font-bold border-l-4 border-l-primary pl-2"
            >
                Director of Undergraduate Program
            </h2>
            <main class="grid md:grid-cols-2 mt-2.5 space-y-2.5">
                <AdministratorCard
                    name="Sajee Pianskool"
                    position="Mathematics"
                    office="MATH 1208/7"
                    phone="02-218-7119"
                    email="Sajee.P@chula.ac.th"
                />
                <AdministratorCard
                    name="Nagul Cooharojananone"
                    position="Computer Science and Information Technology"
                    office="MATH 1008/13"
                    phone="02-218-5156"
                    email="Nagul.C@chula.ac.th"
                />
            </main>
        </section>
        <section class="border-b-2 py-5">
            <h2
                class="text-2xl lg:text-3xl font-bold border-l-4 border-l-primary pl-2"
            >
                Director of Graduate Program
            </h2>
            <main class="grid md:grid-cols-2 mt-2.5 space-y-2.5">
                <AdministratorCard
                    name="Yotsanan Meemak"
                    position="Mathematics"
                    office="MATH 1008/4"
                    phone="02-218-5155"
                    email="yotsanan.m@chula.ac.th"
                />
                <AdministratorCard
                    name="Suphakant Phimoltares"
                    position="Computer Science and Information Technology"
                    office="MATH 1108/11"
                    phone="02-218-5221"
                    email="suphakant.p@chula.ac.th"
                />
                <AdministratorCard
                    name="Krung Sinapiromsaran"
                    position="Applied Mathematics and Computational Science"
                    office="MATH 1208/16"
                    phone="02-218-7123"
                    email="Krung.s@chula.ac.th"
                />
                <AdministratorCard
                    name="Jaruloj Chongstitvatana"
                    position="Cooperative Advisor"
                    office="MATH 1208/11"
                    phone="02-218-5152"
                    email="jaruloj@gmail.com"
                />
            </main>
        </section>
        <section class="py-5">
            <main class="grid md:grid-cols-2 mt-2.5 space-y-2.5">
                <AdministratorCard
                    name="Arporntip Sombatboriboon"
                    position="Office Manager"
                    office="MATH 322"
                    phone="02-218-5142"
                    email="Arpornthip.S@chula.ac.th"
                />
                <AdministratorCard
                    name="Nanicha Tharavech"
                    position="Graduate Coordinator"
                    office="MATH 323"
                    phone="02-218-5172"
                    email="tnanicha@hotmail.com"
                />
            </main>
        </section>
    </main>
</BaseLayout>
