---
import PostCard from "@/common/components/Card/PostCard.astro";
import { getPosts } from "@/libs/api/post";
import BaseLayout from "../../layouts/BaseLayout.astro";
const posts = await getPosts();
---

<BaseLayout title="Posts">
    <header class="pt-[80px]">
        <h1
            class="text-5xl font-semibold font-kanit text-center py-10 text-gray-900 underline decoration-4 decoration-primary"
        >
            Posts Archive
        </h1>
    </header>
    <main class="grid grid-cols-3 max-w-7xl px-5 mx-auto gap-5 pb-20">
        {posts.map((post) => <PostCard post={post} />)}
    </main>
</BaseLayout>
