---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import NewsCard2 from "@/modules/news-events/components/news/NewsCard2.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { getNews } from "@/libs/api/post";
const apams = await getNews("apam", -1);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("news.apam.title")}>
	<Hero title={t("news.apam.hero.title")} subtitle={t("news.apam.hero.subTitle")} />
	<main class="mx-auto my-5 mb-20 max-w-(--breakpoint-xl) space-y-5 px-5">
		<section>
			<h2 class="font-kanit text-2xl font-bold lg:text-3xl">{t("news.apam.what_is_apam")}</h2>
			<p class="my-5 font-sarabun text-lg">
				ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์ คณะวิทยาศาสตร์
				จุฬาลงกรณ์มหาวิทยาลัยได้เริ่มจัดการประชุมวิชาการคณิตศาสตร์บริสุทธิ์และประยุกต์ประจำปี (Annual Pure and
				Applied Mathematics Conference: APAM) ครั้งแรกในปี พ.ศ. 2551 (ภายใต้ชื่อ การประชุมคณิตศาสตร์ประจำปี
				(Annual Mathematics Conference)) โดยมีวัตถุประสงค์หลักเพื่อสร้างความตื่นตัวทางวิชาการ เพิ่มพูนความรู้
				ตลอดจนเรียนรู้องค์ความรู้ใหม่ ทั้งด้านคณิตศาสตร์บริสุทธิ์ คณิตศาสตร์ประยุกต์ คณิตศาสตรศึกษา
				และวิทยาการคอมพิวเตอร์ ให้กับบุคลากร นิสิตเก่าของภาควิชาฯ ครู อาจารย์ นิสิต และนักศึกษาของมหาวิทยาลัย
				และสถาบันทางการศึกษาต่าง ๆ ทั่วประเทศ เสริมสร้างความร่วมมือระหว่างนักคณิตศาสตร์จากสถาบันการศึกษาต่าง ๆ
				กับองค์กรภาครัฐและเอกชนที่ต้องการใช้คณิตศาสตร์และวิทยาการคอมพิวเตอร์ในการพัฒนาองค์กร
				ตลอดจนเป็นโอกาสที่จะนำเสนอและเผยแพร่ผลงานวิจัยต่อนักคณิตศาสตร์ระดับชาติ
				และเป็นการเสริมความมั่นใจในการนำเสนอผลงานของนิสิตและนักศึกษาเพื่อก้าวไปสู่เวทีระดับนานาชาติต่อไป
				จากการจัดการประชุมดังกล่าวในปีที่ผ่าน ๆ มา มีผู้เข้าร่วมประชุมและร่วมนำเสนอผลงานทางวิชาการจากมหาวิทยาลัย
				และสถาบันการศึกษาต่าง ๆ รวมถึงองค์กรภาครัฐและเอกชนเป็นจำนวนมาก ทั้งนี้ภาควิชาฯ
				ได้มีการพัฒนาในการจัดประชุมดังกล่าวเรื่อยมา โดยในงานประชุมประกอบด้วย
				<ol class="my-2 list-inside list-decimal space-y-2.5 text-lg">
					<li>
						การนำเสนอผลงานวิจัยแบบปากเปล่าทางคณิตศาสตร์ คณิตศาสตร์ประยุกต์ คณิตศาสตรศึกษา
						และวิทยาการคอมพิวเตอร์
						หรือศาสตร์ที่เกี่ยวข้องที่ได้รับการกลั่นกรองจากผู้ทรงคุณวุฒิในรูปแบบบรรยายของนักเรียน นิสิต
						นักศึกษา อาจารย์ ศิษย์เก่าของภาควิชาฯ และนักวิจัย จากสถาบันระดับต่ำกว่าอุดมศึกษา
						สถาบันระดับอุดมศึกษา และหน่วยงานทั้งภาครัฐและเอกชนทั่วประเทศ
					</li>
					<li>
						การบรรยายและการเพิ่มพูนความรู้ทางวิชาการจากผู้ทรงคุณวุฒิรับเชิญ
						ซึ่งมีหัวข้อที่แตกต่างกันในแต่ละปี
					</li>
				</ol>
			</p>
		</section>
		<section>
			<h2 class="font-kanit text-2xl font-bold lg:text-3xl">{t("news.apam.news-updates")}</h2>

			<div class="mt-5 grid grid-cols-4 gap-5">
				{
					apams.map((apam: any) => {
						return <NewsCard2 news={apam} />;
					})
				}
			</div>
		</section>
	</main>
</BaseLayout>
