---
import Hero from "@/common/components/Hero.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { getNews } from "@/libs/api/post";
import NewsCard2 from "@/modules/news-events/components/news/NewsCard2.astro";
const news = await getNews("story-news", -1);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("news.stories-news.title")}>
	<Hero title={t("news.stories-news.hero.title")} subtitle={t("news.stories-news.hero.subTitle")} />

	<main class="mx-auto max-w-screen-xl p-5">
		<div class="grid grid-cols-3 gap-10">
			{
				news.map((post: any) => {
					return <NewsCard2 news={post} />;
				})
			}
		</div>
	</main>
</BaseLayout>
