---
import { EventAPI } from "@/libs/api/event";
import EventCardMock from "./EventCardMock.astro";

const eventAPI = new EventAPI();
const events = await eventAPI.getEventsServer(undefined, 3);
---

<div class="mt-10 flex flex-wrap-reverse justify-center gap-2.5 flex-row-reverse">
	{events.map((event: any) => <EventCardMock key={event.id} event={event} />)}
</div>
