---
const { events } = Astro.props;
import EventCardMock from "./EventCardMock.astro";
---

<div class="flex justify-center mt-10 gap-2.5">
    {events.map((event: any) => <EventCardMock key={event.id} event={event} />)}
</div>
