---
import Hero from "@/common/components/Hero.astro";
import SideBarUnGrad from "@/common/components/SIdebar/SideBar.astro";
import Render from "@/common/page/render.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { createSidebarItemsUndergraduate, programPageID } from "@/libs/const";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("program.undergraduate.mathematics.overview.title")}>
	<Hero
		title={t("program.undergraduate.mathematics.overview.hero.title")}
		subtitle={t("program.undergraduate.mathematics.overview.hero.subTitle")}
	/>

	<div class="mx-auto mb-20 grid max-w-screen-xl gap-5 p-5 md:grid-cols-4 md:gap-10">
		<aside class="col-span-1">
			<nav class="sticky top-32 bg-gray-50">
				<SideBarUnGrad navItems={createSidebarItemsUndergraduate("mathematics", lang)} />
			</nav>
		</aside>
		<main class="grid overflow-x-auto md:col-span-3">
			<Render pageId={programPageID.undergradudate.mathematics.overview.en} />
		</main>
	</div>
</BaseLayout>
