---
import Hero from "@/common/components/Hero.astro";
import SideBarUnGrad from "@/common/components/SIdebar/SideBar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getNews } from "@/libs/api/post";
import { createSidebarItemsUndergraduate } from "@/libs/const";

import NewsCard2 from "@/modules/news-events/components/news/NewsCard2.astro";
import { ArrowRightIcon, NewspaperIcon } from "@heroicons/react/24/solid";
const news = await getNews("undergradudate_mathematics", -1);

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("program.undergraduate.mathematics.news.title")}>
    <Hero
        title={t("program.undergraduate.mathematics.news.hero.title")}
        subtitle={t("program.undergraduate.mathematics.news.hero.subTitle")}
    />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-5 md:gap-10 mb-20 p-5">
        <aside class="col-span-1">
            <nav class="bg-gray-50 sticky top-32">
                <SideBarUnGrad navItems={createSidebarItemsUndergraduate("mathematics", lang)} />
            </nav>
        </aside>
        <main class="md:col-span-3 grid overflow-x-auto scroll-smooth">
            {
                news.length === 0 && (
                    <div class="flex flex-col h-full justify-center items-center bg-gray-50 rounded-xl py-10">
                        <NewspaperIcon className="h-10 w-10 text-slate-800 mx-auto" />
                        <p class="text-slate-800 text-xl font-kanit text-center">{t("program.news.no_news")}</p>
                        <a
                            href="/news-events"
                            class="text-slate-500 items-center hover:border-b hover:border-b-slate-800 inline-flex"
                        >
                            {t("program.news.explore_more")}
                            <ArrowRightIcon className="h-4 w-4 text-slate-800 inline-block ml-2" />
                        </a>
                    </div>
                )
            }
            {
                news.length > 0 && (
                    <div class="grid grid-cols-3 gap-5">
                        {news.map((post: any) => {
                            return <NewsCard2 news={post} />;
                        })}
                    </div>
                )
            }
        </main>
    </div>
</BaseLayout>
