---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { CourseAPI, CourseName } from "@/libs/api/course";
const courseAPI = new CourseAPI();
const content = await courseAPI.getCourse(CourseName.GRADMATH, "apply_english");
---

<BaseLayout title="Graduate Program in Mathematics">
    <Hero title="Mathematics (M.Sc. & Ph.D.)" />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20 p-5">
        <aside class="">
            <nav>
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a class="p-5" href="academics">Academics</a>
                    <a
                        class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white"
                        href="apply">Apply</a
                    >
                    <a class="p-5" href="opportunities">Opportunities</a>
                    <a class="p-5" href="qualification">Qualification</a>
                    <a class="p-5" href="qualifying-exam">Qualifying Exam</a>
                </ul>
            </nav>
        </aside>
        <main
            class="md:col-span-3 my-5 space-y-10 font-sarabun overflow-x-auto"
        >
            <h2 class="font-kanit font-semibold text-5xl">Apply</h2>
            <div set:html={content} />
            <!-- <section class="space-y-5">
                <h3 class="font-kanit font-semibold text-3xl">Admission Exam</h3>
                <ol class="list-decimal list-inside">
                    <li>Written exam
                        <ul class="list-disc list-inside pl-5">
                            <li>Principles of Mathematics and Calculus</li>
                            <li>Linear Algebra, Abstract Algebra and Mathematical Analysis</li>
                        </ul>
                    </li>
                    <li>Academic interview</li>
                </ol>
                <a class="underline" href="https://math.sc.chula.ac.th/gradmath/scope-exam/">Scope of exam course content and reference documents)</a>
            </section>
            <section class="space-y-5">
                <h3 class="font-kanit font-semibold text-3xl">Admission Periods</h3>
                <p>We invites applications twice a year and welcomes external individuals to enroll in its courses. Details about the application process can be found on the program's website (https://math.sc.chula.ac.th/gradmath/) and Facebook (https://www.facebook.com/GradMathCU/), or inquiries can be made by contacting  02 2185172</p>
            </section> -->
        </main>
    </div>
</BaseLayout>
