---
import FacultyCard from "@/common/components/Card/FacultyCard";
import Hero from "@/common/components/Hero.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ResearchAPI } from "@/libs/api/research";

const researchAPI = new ResearchAPI();
const { slug } = Astro.params;

const research = await researchAPI.getResearchBySlug(slug);

export async function getStaticPaths() {
	const researchAPI = new ResearchAPI();
	const researchList = await researchAPI.getResearch();

	return {
		paths: researchList.map((research) => ({
			params: {
				slug: research.slug,
			},
		})),
		fallback: true,
	};
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={research.title}>
	<Hero title={research.title} />
	<main class="my-10 space-y-10">
		<section class="mx-auto max-w-(--breakpoint-xl) space-y-5 px-5"></section>
		<section class="mx-auto max-w-(--breakpoint-xl) space-y-5 px-5">
			<h2 class="my-10 text-center font-kanit text-3xl font-semibold underline decoration-primary decoration-4">
				{t("research.research_faculty")}
			</h2>
			<main class="grid gap-5 lg:grid-cols-4">
				{research.faculty && research.faculty.map((faculty) => <FacultyCard client:load faculty={faculty} />)}
			</main>
		</section>
	</main>
</BaseLayout>
