---
import Hero from "@/common/components/Hero.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import LazyResearchModule from "@/modules/research/LazyResearchModule";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("research.title")}>
	<Hero title={t("research.hero.title")} subtitle={t("research.hero.subTitle")} />
	<main class="mx-auto max-w-(--breakpoint-xl) p-5">
		<section>
			<h2
				class="text-center font-kanit text-4xl font-semibold uppercase underline decoration-primary decoration-4"
			>
				{t("research.research_areas")}
			</h2>
			<main class="mt-20 grid gap-y-2.5">
				<LazyResearchModule url={Astro.url} client:load />
			</main>
		</section>
	</main>
</BaseLayout>
