---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { CourseAPI, CourseName } from "@/libs/api/course";
const courseAPI = new CourseAPI();
const content = await courseAPI.getCourse(CourseName.GRADMATH, "qualification_exam_thai")
---

<BaseLayout title="Graduate Program in Mathematics">
    <Hero 
        title="Mathematics (M.Sc. & Ph.D.)" 
    />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20 p-5">
        <aside class="">
            <nav>
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a class="p-5 " href="academics">Academics</a>
                    <a class="p-5" href="qualification">Qualification</a>
                    <a class="p-5" href="apply">Apply</a>
                    <a class="p-5 " href="opportunities">Opportunities</a>
                    <a class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white" href="qualifying-exam">Qualifying Exam</a>
                </ul>
            </nav>
        </aside>
        <main class="md:col-span-3 my-5 space-y-10 font-sarabun">
            <h2 class="font-kanit font-semibold text-5xl">Qualification Examinations</h2>
            <div set:html={content}/>
            <!-- <p>The Qualifying Examination for the Doctor of Philosophy degree program (Qualifying Examination) is a basic knowledge test, analytical skills and the potential of students to conduct independent research to demonstrate the potential and readiness of students to study at the Ph.D. level.  Examination subjects see information at website (https://math.sc.chula.ac.th/gradmath/qualifying-exam/)</p> -->
        </main>
    </div>


</BaseLayout>