---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="TA Help Desk">
	<Hero title="TA Help Desk" subtitle="Get help from a TA" />
	<main class="mx-auto my-10 max-w-screen-xl space-y-5 px-5">
		<section class="space-y-2">
			<p class="font-sarabun text-base">Math Consult สำหรับภาคปลาย</p>
			<p class="font-sarabun text-base">
				สำหรับนิสิตที่ต้องการความช่วยเหลือในรายวิชาพื้นฐานของสาขาวิชาคณิตศาสตร์
				ไม่ว่าจะเป็นเพราะไม่เข้าใจเนื้อหา ทำโจทย์ไม่ได้ ฯลฯ
				ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์มีบริการให้คำปรึกษาแก่นิสิตในรายวิชาพื้นฐานของสาขาวิชาคณิตศาสตร์
				(Math Consult) โดยนิสิตรุ่นพี่ระดับบัณฑิตศึกษาผู้ใจดีและมีความสามารถ ตั้งแต่วันอังคารที่ 21 มกราคม 2568
				เป็นต้นไป
			</p>
		</section>
		<section>
			<h2 class="font-kanit text-2xl font-semibold">เวลาให้บริการ</h2>
			<table class="w-full table-auto font-sarabun text-base">
				<thead class="text-gray-500">
					<tr class="border-b text-left">
						<th class="pl-20 font-normal">วัน</th>
						<th class="font-normal">เวลา</th>
					</tr>
				</thead>
				<tbody class="text-slate-800">
					<tr class="border-b">
						<td class="pl-20">อังคาร</td>
						<td>12:30 - 16:30</td>
					</tr>
					<tr class="border-b">
						<td class="pl-20">พุธ</td>
						<td>12:30 - 14:00 </td>
					</tr>
					<tr class="border-b">
						<td class="pl-20">พฤหัสบดี</td>
						<td>12:30 - 16:30</td>
					</tr>
					<tr class="border-b">
						<td class="pl-20">ศุกร์</td>
						<td>12:30 - 16:30</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section>
			<h2 class="font-kanit text-2xl font-semibold">สถานที่</h2>
			<p class="font-sarabun text-base">ห้อง 909/9 ชั้น 9 อาคารมหาวชิรุณหิศ</p>
		</section>
		<section class="space-y-2">
			<h2 class="font-kanit text-2xl font-semibold">ขอบเขตรายวิชาที่ให้บริการในภาคการศึกษาปลาย 2567</h2>
			<p class="font-sarabun text-base">
				Calculus 1-2, Mathematical Models and Reasoning, Linear Algebra, Principle of Mathematics, Probability
				and Statistics
			</p>
			<p class="font-sarabun text-base">
				ติดตามข่าวสารผ่าน LINE Official Account ของห้อง Math Consult ได้ที่ <a
					class="text-primary underline"
					href="https://lin.ee/U3jOo0m">https://lin.ee/U3jOo0m</a
				>
			</p>
		</section>
	</main>
</BaseLayout>
