---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { CourseAPI, CourseName } from "@/libs/api/course";
const courseAPI = new CourseAPI();
const content = await courseAPI.getCourse(CourseName.CSIT, "academic_english")
---

<BaseLayout title="Computer Science and Information Technology (M.Sc. & Ph.D.)">
    <Hero
        title="Computer Science and Information Technology (M.Sc. & Ph.D.)" 
    />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20 p-5">
        <aside>
            <nav>
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a 
                        href="academics" 
                        class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white"
                    >
                        Academics
                    </a>
                    <a 
                        href="qualification" 
                        class="p-5"
                    >
                        Qualification
                    </a>
                    <a 
                        href="apply" 
                        class="p-5"
                    >
                        Apply
                    </a>
                    <a 
                        href="opportunities" 
                        class="p-5"
                    >
                        Opportunities
                    </a>
                    <a class="p-5" href="qualifying-exam">Qualifying Exam</a>
                </ul>
            </nav>
        </aside>
        <main class="md:col-span-3 my-5 space-y-10 font-sarabun">
            <h2 class="font-kanit font-semibold text-5xl">Academics</h2>
            <p set:html={content}/>
            <!-- <p>The Ph.D. program offers an excellent opportunity for students who wish to pursue advanced studies in Computer Science and Information Technology, which operates under the AVIC Center. The Center has conducted a wide range of research activities in close cooperation with local and international agencies. It is ideal for international students who are interested in oversea studies and cross cultural learning.</p>

            <section class="space-y-2.5">
                <h3 class="font-kanit font-semibold text-3xl">Degree Requirements</h3>
                <p>Applicants holding a Bachelor’s degree are required to take at least 24 credits of course work and 48 credits of dissertation. The students must graduate within 10 years counting from the first year of their admission.</p>
                <p>Applicants holding a Master’s degree are required to take 48 credits of dissertation. The students must graduate within 6 years counting from the first year of their admission.</p>
                <p>In addition, the students in both background classifications must also meet the general requirements of the Graduate School. Among the important ones are the Ph.D. qualifying examination, the dissertation prospectus defense, and at least two international journal papers accepted for publication.</p>
            </section>

            <section class="space-y-2.5">
                <h3 class="font-kanit font-semibold text-3xl">Collaboration with research agencies and institutions</h3>
                <ul class="list-disc list-inside">
                    <li>Computer Science: Cooperative Research Network (CRN).</li>
                    <li>National Science and Technology Development Agency (NSTDA) and its affiliation—National Electronic and Computer Technology Center (NECTEC).</li>
                    <li>Foreign research residency of Ph.D. candidates in USA (University of Louisiana at Lafayette), Japan (National Institute of Informatics), and Canada (University of Alberta).</li>
                </ul>
            </section>

            <section class="space-y-2.5">
                <h3 class="font-kanit font-semibold text-3xl">Key research areas</h3>
                <ul class="list-disc list-inside">
                    <li>Artificial Intelligence, Machine Learning, and Neural Computing.</li>
                    <li>Image Processing, Computer Vision, and Visualization.</li>
                    <li>Software Engineering and Knowledge Engineering.</li>
                    <li>Computer Networking.</li>
                    <li>Bioinformatics, Plant Modeling, and Simulation.</li>
                </ul>
            </section>

            <section class="space-y-2.5">
                <h3 class="font-kanit font-semibold text-3xl">Fees</h3>
                <ol class="list-decimal list-inside space-y-2.5">
                    <li>
                        Application
                        <p>There is a 1,000 Baht non-refundable application fee payable in two ways, cash (in person) or cheque/bank draft pay to the order of Faculty of Science, Chulalongkorn University and mail it to Graduate Studies in Computer Science and Information Technology, Department of Mathematics and Computer Science, Faculty of Science, Chulalongkorn University, Phyathai Road, Bangkok 10330, Thailand</p>
                    </li>
                    <li>
                        Academic semester tuition (all rates are subject to change which will be announced by the Office of the Registrar.  Please consult http://www.reg.chula.ac.th/ for latest rate updates):
                        <ul class="list-disc list-inside pl-5">
                            <li>Thai resident: There is a semester fee of 78,500 Baht payable to two separate accounts, namely, 33,500 Baht to the Office of the Registrar, and 45,000 Baht to the Department of Mathematics and Computer Science.</li>
                            <li>Non-Thai resident: there is a semester fee of 138,500 Baht payable to two separate accounts, namely, 33,500 Baht to the Office of the Registrar, and 105,000 Baht to the Department of Mathematics and Computer Science.</li>
                        </ul>
                    </li>
                    <li>
                        Graduation
                        <p>Graduation must be filed with the Office of Graduate Studies, Chulalongkorn University.  There is a 100 Baht/day late charge if application is not made within the deadline.</p>
                    </li>
                </ol>
            </section> -->
        </main>
    </div>


</BaseLayout>