---
import Hero from "@/common/components/Hero.astro";
import {
    Table,
    TableBody,
    TableCell,
    TableHead,
    TableHeader,
    TableRow,
} from "@/components/ui/table";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CheckIcon } from "@heroicons/react/24/solid";
---

<BaseLayout title="Graduate Funding">
    <Hero title="Graduate Funding" />
    <main class="max-w-screen-xl mx-auto p-5 space-y-10 mb-20">
        <section class="space-y-5">
            <h2 class="font-kanit font-semibold text-3xl">Scholarships</h2>
            <p>
                Chulalongkorn University has various scholarships to make
                education accessible and affordable for students. Our
                scholarships provide more opportunities for both undergraduate
                and graduate students.
            </p>
        </section>
        <section class="space-y-5">
            <h2 class="font-kanit font-semibold text-3xl">
                Scholarships for Undergraduate Student
            </h2>
            <p>
                Not only that scholarships for graduate students would provide
                more opportunities for students to pursue higher level study in
                mathematics and computer science, we also provide additional
                academic experiences such as teaching experience and academic
                presentation experience.
            </p>

            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHead>Scholarships</TableHead>
                        <TableHead>Tuition Fee</TableHead>
                        <TableHead>Allowance</TableHead>
                        <TableHead>Link</TableHead>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow>
                        <TableCell
                            >H.M. the King Bhumibhol Adulyadej’s 72nd Birthday
                            Anniversary Scholarship</TableCell
                        >
                        <TableCell
                            ><CheckIcon
                                className="w-5 h-5 text-green-500"
                            /></TableCell
                        >
                        <TableCell
                            ><CheckIcon
                                className="w-5 h-5 text-green-500"
                            /></TableCell
                        >
                        <TableCell
                            ><a
                                class="hover:underline"
                                href="https://www.inter.chula.ac.th/wp-content/uploads/2022/04/Scholarship-for-CU-Graduate-Students_Graduate-School.pdf"
                                target="_blank"
                                rel="noopener noreferrer"
                                >https://www.inter.chula.ac.th/wp-content/uploads/2022/04/Scholarship-for-CU-Graduate-Students_Graduate-School.pdf</a
                            ></TableCell
                        >
                    </TableRow>
                    <TableRow>
                        <TableCell
                            >The 90th Anniversary of Chulalongkorn University
                            Scholarship</TableCell
                        >
                        <TableCell />
                        <TableCell
                            ><CheckIcon
                                className="w-5 h-5 text-green-500"
                            /></TableCell
                        >
                        <TableCell
                            ><a
                                class="hover:underline"
                                href="https://www.inter.chula.ac.th/wp-content/uploads/2022/04/Scholarship-for-CU-Graduate-Students_Graduate-School.pdf"
                                target="_blank"
                                rel="noopener noreferrer"
                                >https://www.inter.chula.ac.th/wp-content/uploads/2022/04/Scholarship-for-CU-Graduate-Students_Graduate-School.pdf</a
                            ></TableCell
                        >
                    </TableRow>
                    <TableRow>
                        <TableCell
                            >The Graduate Scholarship Programme for ASEAN or
                            Non-ASEAN Countries</TableCell
                        >
                        <TableCell
                            ><CheckIcon
                                className="w-5 h-5 text-green-500"
                            /></TableCell
                        >
                        <TableCell
                            ><CheckIcon
                                className="w-5 h-5 text-green-500"
                            /></TableCell
                        >
                        <TableCell
                            ><a
                                class="hover:underline"
                                href="The Graduate Scholarship Programme for ASEAN or Non-ASEAN Countries"
                                target="_blank"
                                rel="noopener noreferrer"
                                >The Graduate Scholarship Programme for ASEAN or
                                Non-ASEAN Countries</a
                            ></TableCell
                        >
                    </TableRow>
                    <TableRow>
                        <TableCell>Teaching Assistant Scholarship</TableCell>
                        <TableCell />
                        <TableCell
                            ><CheckIcon
                                className="w-5 h-5 text-green-500"
                            /></TableCell
                        >
                        <TableCell
                            ><a
                                class="hover:underline"
                                href="https://www.inter.chula.ac.th/wp-content/uploads/2022/04/Scholarship-for-CU-Graduate-Students_Graduate-School.pdf"
                                target="_blank"
                                rel="noopener noreferrer"
                                >https://www.inter.chula.ac.th/wp-content/uploads/2022/04/Scholarship-for-CU-Graduate-Students_Graduate-School.pdf</a
                            ></TableCell
                        >
                    </TableRow>
                </TableBody>
            </Table>
        </section>
    </main>
</BaseLayout>
