---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ChevronRightIcon from "@heroicons/react/24/solid/ChevronRightIcon";
---

<BaseLayout title="Graduate">
	<Hero title="Graduate" />

	<main class="mb-20 mt-10 space-y-10">
		<section class="mx-auto max-w-screen-xl px-5">
			<p class="font-sarabun">
				The Department of Mathematics and Computer Science of Chulalongkorn University offers a range of rigorous graduate programs that lay the foundation for research and/or prepare students for careers in industry. Whether you are interested in pure or applied mathematics, computer science and information technology, or the interplay between these fields, we have a program suited to your needs. Additionally, we offer a stimulating academic environment that fosters intellectual growth and professional development.
			</p>
		</section>

		<section class="mx-auto max-w-screen-xl space-y-5 px-5">
			<h2 class="font-kanit text-5xl font-semibold">Our Graduate Programs</h2>
			<div class="grid gap-5 md:grid-cols-3">
				<article class="bg-slate-800 text-white shadow-lg">
					<img src="/placeholder.jpeg" alt="" class="brightness-75 filter" />
					<div class="flex h-full flex-col justify-between space-y-2.5 p-5">
						<div>
							<h3 class="mb-2.5 font-kanit text-3xl font-medium">Mathematics</h3>
							<p class="font-sm font-sarabun font-light">
								Advance your mathematical knowledge and research skills, exploring pure and applied
								mathematics for a career in academia or research.
							</p>
						</div>
						<a href="/graduate/mathematics" class="flex items-center font-kanit text-yellow-500"
							>Learn more <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
				<article class="bg-slate-800 text-white shadow-lg">
					<div class="flex h-full flex-col justify-between space-y-2.5 p-5">
						<div>
							<h3 class="mb-2.5 font-kanit text-3xl font-medium">
								Applied Mathematics & Computational Science
							</h3>
							<p class="font-sm font-sarabun font-light">
								Harness the power of mathematics and computing to solve real-world problems across
								science and engineering disciplines.
							</p>
						</div>
						<a href="/graduate/amcs" class="flex items-center font-kanit text-yellow-500"
							>Learn more <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
				<article class="bg-slate-800 text-white shadow-lg">
					<div class="flex h-full flex-col justify-between space-y-2.5 p-5">
						<div>
							<h3 class="mb-2.5 font-kanit text-3xl font-medium">
								Computer Science and Information Technology
							</h3>
							<p class="font-sm font-sarabun font-light">
								AI Explore cutting-edge topics in computer science and information technology,
								specializing in areas like AI, data science, and cybersecurity.
							</p>
						</div>
						<div class="flex space-x-10">
							<a href="/graduate/csit" class="flex items-center font-kanit text-yellow-500"
								>Learn more <ChevronRightIcon className="h-4 w-4" /></a
							>
						</div>
					</div>
				</article>
			</div>
		</section>
	</main>
</BaseLayout>
