---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ChevronRightIcon from "@heroicons/react/24/solid/ChevronRightIcon";
---

<BaseLayout title="Graduate">
    <Hero title="Graduate" />

    <main class="mt-10 space-y-10 mb-20">
        <section class="max-w-screen-xl mx-auto px-5">
            <p class="font-kanit font-light text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis laboriosam minus excepturi earum nobis non vel, ratione sapiente corrupti perspiciatis porro repudiandae voluptatibus animi soluta, quod commodi. Voluptas unde rem totam natus tempora? Natus quos necessitatibus exercitationem at amet mollitia perferendis, eligendi libero culpa quo minus nobis molestiae doloribus expedita voluptas, fugiat dolor perspiciatis possimus quasi aliquid iusto? Laboriosam maiores quo recusandae ad aliquam mollitia reiciendis libero, eaque cum vitae, itaque, rem quisquam dolore enim consequatur pariatur! Nulla facere dolores sed! Consequuntur, pariatur! Quae dolore similique rerum, repellendus explicabo quis nobis ab ad ipsum consectetur animi, tenetur ullam amet quo.</p>
        </section>

        <section class="max-w-screen-xl mx-auto space-y-5 px-5">
          <h2 class="text-5xl font-semibold font-kanit">Our Graduate Programs</h2>
          <div class="grid md:grid-cols-3 gap-5">
              <article class="shadow-lg bg-slate-800 text-white">
                  <img src="/placeholder.jpeg" alt="" class="filter brightness-75">
                  <div class="p-5 space-y-2.5 flex flex-col justify-between h-full">
                      <div>
                        <h3 class="text-3xl font-medium font-kanit mb-2.5">Mathematics</h3>
                        <p class="font-sarabun font-sm font-light"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus cupiditate quod distinctio ab necessitatibus dolorem tempore quibusdam natus illum? Dolor? </p>
                      </div>
                      <a href="/graduate/math/academics" class="flex items-center text-yellow-500 font-kanit">Learn more <ChevronRightIcon className="h-4 w-4" /></a>
                  </div>
              </article>
              <article class="shadow-lg bg-slate-800 text-white ">
                  <div class="p-5 space-y-2.5 flex flex-col justify-between h-full">
                      <div>
                        <h3 class="text-3xl font-medium font-kanit mb-2.5">Applied Mathematics & Computational Science</h3>
                        <p class="font-sarabun font-sm font-light"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis soluta sed quod quis distinctio aliquid nostrum autem quaerat! Odio, possimus! </p>
                      </div>
                      <a href="/graduate/amcs/academics" class="flex items-center text-yellow-500 font-kanit">Learn more <ChevronRightIcon className="h-4 w-4" /></a>
                  </div>
              </article>
              <article class="shadow-lg bg-slate-800 text-white ">
                <div class="p-5 space-y-2.5 flex flex-col justify-between h-full">
                    <div>
                      <h3 class="text-3xl font-medium font-kanit mb-2.5">Computer Science and Information Technology (M.Sc.)</h3>
                      <p class="font-sarabun font-sm font-light"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, recusandae doloribus dolorum ea laborum at sapiente itaque nisi. Deserunt, consectetur. </p>
                    </div>
                    <div class="flex space-x-10">
                      <a href="/graduate/csit/master/academics" class="flex items-center text-yellow-500 font-kanit">Master<ChevronRightIcon className="h-4 w-4" /></a>
                      <a href="/graduate/csit/phd/academics" class="flex items-center text-yellow-500 font-kanit">Doctoral<ChevronRightIcon className="h-4 w-4" /></a>
                    </div>
                </div>
            </article>
          </div>
      </section>

    </main>
</BaseLayout>
