---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Computer Science and Information Technology (Ph.d.)">
    <Hero
        title="Computer Science and Information Technology (Ph.d.)" 
        subtitle="Department of Mathematics and Computer Science"
    />

    <div class="grid grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20">
        <aside>
            <nav class="p-5">
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a 
                        href="academics" 
                        class="p-5"
                    >
                        Academics
                    </a>
                    <a 
                        href="qualification" 
                        class="p-5"
                    >
                        Qualification
                    </a>
                    <a 
                        href="apply" 
                        class="p-5"
                    >
                        Apply
                    </a>
                    <a 
                        href="opportunities" 
                        class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white"
                    >
                        Opportunities
                    </a>
                    <a 
                        href="entrance-exam" 
                        class="p-5"
                    >
                        Extrance Examination
                    </a>
                </ul>
            </nav>
        </aside>
        <main class="col-span-3 my-5 space-y-10 font-sarabun">
            <h2 class="font-kanit font-semibold text-5xl">Opportunities</h2>
            <section class="space-y-5">
                <ol class="list-decimal list-inside">
                    <li>AI Scientist</li>
                    <li>Data Scientist</li>
                    <li>Teachers or professors in schools, colleges, and universities.</li>
                    <li>Researchers in government and private organizations.</li>
                    <li>Consultants in computer science and information technology.</li>
                    <li>Business owners involved in computer technology and information technology.</li>
                    <li>Managers involved in tasks requiring computer science and information technology.</li>
                    <li>Software engineers.</li>
                </ol>
            </section>
        </main>
    </div>


</BaseLayout>