---
import { Image } from "astro:assets";

const { title, href, imgSrc } = Astro.props;
---

<a
    href={href}
    class="bg-white p-5 flex justify-between items-center h-full shadow-lg border-2 border-gray space-x-5 hover:scale-105 transition-all"
>
    <div class="w-14">
        <Image
            class="object-fit aspect-square"
            format="webp"
            src={imgSrc}
            alt={title}
        />
    </div>

    <h2
        class="text-gray-700 uppercase font-kanit text-left font-semibold md:text-lg lg:text-xl leading-6 w-full"
    >
        {title}
    </h2>
</a>
