---
import SideBar from "./SideBar.astro";

interface Props {
	item: NavItem;
	isSubmenu?: boolean;
	isLast?: boolean;
}

const { item, isSubmenu, isLast } = Astro.props;
const { title, href, subItems } = item;
const pathname = new URL(Astro.request.url).pathname;
const lastCurrentPath = pathname.split("/").pop();
const isActive = lastCurrentPath === href.split("/").pop();
---

<li class="flex h-full w-full flex-col">
	<a
		class:list={[
			{
				"transition-all duration-500 ease-in-out": true,
				"p-4": !isSubmenu,
				"p-2.5": isSubmenu,
				"pb-4": isSubmenu && isLast,
				"border-l-8 border-yellow-400 bg-slate-900 text-white underline decoration-yellow-400 decoration-4":
					isActive,
				"border-l-8 border-transparent hover:border-yellow-400 hover:bg-slate-800/75 hover:text-white":
					!isActive && !isSubmenu,
				"border-l-8 border-transparent hover:border-yellow-400 hover:text-yellow-500 hover:underline":
					!isActive && isSubmenu,
			},
		]}
		href={href}
	>
		{title}
	</a>
	{subItems && isActive && <SideBar navItems={subItems} isSubmenu />}
</li>
