---
import SidebarItem from "./SidebarItem.astro";
---

<nav>
    <ul class="bg-gray-100 font-kanit text-xl grid">
        <SidebarItem title="Academics" href="academics" />
        <SidebarItem title="Apply" href="apply" />
        <SidebarItem title="Opportunities" href="opportunities" />
        <SidebarItem title="Qualification" href="qualification" />
        <SidebarItem title="Qualifying Exam" href="qualifying-exam" />
    </ul>
</nav>
