---
const { post } = Astro.props;
const { title, slug, _embedded } = post;
---

<article class="w-full space-y-3 overflow-hidden shadow-lg">
	<a href={`/posts/${slug}`}>
		<figure class="relative -z-10">
			{
				_embedded["wp:featuredmedia"] && _embedded["wp:featuredmedia"][0] ? (
					<img
						class="z-0 aspect-square w-full object-cover object-center"
						src={_embedded["wp:featuredmedia"][0].source_url}
						alt={_embedded["wp:featuredmedia"][0].alt_text}
					/>
				) : (
					<div class="z-0 aspect-square w-full bg-gray-100 object-cover object-center" />
				)
			}
		</figure>
	</a>
	<div class="space-y-2 p-5">
		<h3 class="font-prompt text-xl">
			<a class="font-kanit font-medium" href={`/posts/${slug}`}>{title.rendered}</a>
		</h3>
	</div>
</article>
