---
const { post } = Astro.props;
const { title, _embedded, link } = post;
import { getLangFromUrl, useDateFnsLocale } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const dt = useDateFnsLocale(lang);

import { format } from "date-fns";
---

<article
	class="border-gray flex w-full flex-col overflow-hidden border-2 shadow-lg transition-all ease-in-out hover:scale-105"
>
	<a href={link}>
		<figure class="relative -z-10">
			{
				_embedded["wp:featuredmedia"] && _embedded["wp:featuredmedia"][0] ? (
					<img
						class="z-0 aspect-square w-full object-cover object-center"
						src={_embedded["wp:featuredmedia"][0].source_url}
						alt={_embedded["wp:featuredmedia"][0].alt_text}
					/>
				) : (
					<div class="z-0 aspect-square w-full bg-gray-100 object-cover object-center" />
				)
			}
		</figure>
	</a>
	<div class="flex h-full flex-col justify-between space-y-2 p-4">
		<h3 class="font-prompt text-lg">
			<a class="line-clamp-2 font-kanit font-medium" href={link}>{title.rendered}...</a>
		</h3>
		<date class="font-prompt self-start text-xs text-gray-400">
			{format(new Date(post.date), "dd MMMM yyyy", { locale: dt })}
		</date>
	</div>
</article>
