---
import Hero from "@/common/components/Hero.astro";
import { Table, TableBody, TableCell, TableHead, TableHeader, TableRow } from "@/components/ui/table";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Applied Mathematics and Computational Science Program">
    <Hero 
        title="Applied Mathematics and Computational Science (M.Sc & Ph.d.)" 
    />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20 p-5">
        <aside class="col-span-1">
            <nav>
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a href="academics" class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white">Academics</a>
                    <a class="p-5" href="qualification">Qualification</a>
                    <a class="p-5" href="apply">Apply</a>
                    <a class="p-5" href="opportunities">Opportunities</a>
                    <a class="p-5" href="qualifying-exam">Qualifying Exam</a>
                </ul>
            </nav>
        </aside>
        <main class="md:col-span-3 my-5 grid space-y-10">
            <h2 class="font-kanit text-5xl font-semibold">Academics</h2>
            <p class="font-sarabun">Applied Mathematics and Computational Science curriculum develops academic excellence in research that integrates mathematics, computer science, and other disciplines to create international academic advancement in applied mathematics and computational science. It offers a variety of research fields that provide students with the foundational knowledge they need to succeed in their future endeavors. Graduates can apply this knowledge to their future careers in academia, industry, business, and finance or in further studies at an advanced degree level.</p>
            <p class="font-sarabun">The Master's degree in AMCS requires 42 credits over a period of 2 academic years. There are two study plans: the first plan, A1, consists solely of thesis credits totaling 42 credits. The second plan A2 is divided into mandatory courses worth 12 credits and selective courses worth 12 credits, with the remaining 18 credits allocated to thesis credits. See details from the department website.</p>
            <Table>
                <TableHeader>
                    <TableRow>
                        <TableHeader>
                            <TableRow>
                                <TableHead className="font-sarabun">Ph. D. Program</TableHead>
                                <TableHead className="font-sarabun">Plan 1.1</TableHead>
                                <TableHead className="font-sarabun">Plan 1.2</TableHead>
                                <TableHead className="font-sarabun">Plan 2.1</TableHead>
                                <TableHead className="font-sarabun">Plan 2.2</TableHead>
                            </TableRow>
                        </TableHeader>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    <TableRow>
                        <TableCell className="font-sarabun font-semibold">Total credits</TableCell>
                        <TableCell className="font-sarabun">60</TableCell>
                        <TableCell className="font-sarabun">72</TableCell>
                        <TableCell className="font-sarabun">60</TableCell>
                        <TableCell className="font-sarabun">72</TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell className="font-sarabun font-semibold">Registered courses</TableCell>
                        <TableCell className="font-sarabun">-</TableCell>
                        <TableCell className="font-sarabun">-</TableCell>
                        <TableCell className="font-sarabun">12</TableCell>
                        <TableCell className="font-sarabun">24</TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell className="font-sarabun font-semibold">Mandatory courses</TableCell>
                        <TableCell className="font-sarabun">-</TableCell>
                        <TableCell className="font-sarabun">-</TableCell>
                        <TableCell className="font-sarabun">-</TableCell>
                        <TableCell className="font-sarabun">12</TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell className="font-sarabun font-semibold">Elective courses</TableCell>
                        <TableCell className="font-sarabun">-</TableCell>
                        <TableCell className="font-sarabun">-</TableCell>
                        <TableCell className="font-sarabun">12</TableCell>
                        <TableCell className="font-sarabun">12</TableCell>
                    </TableRow>
                    <TableRow>
                        <TableCell className="font-sarabun font-semibold">Thesis credits</TableCell>
                        <TableCell className="font-sarabun">60</TableCell>
                        <TableCell className="font-sarabun">72</TableCell>
                        <TableCell className="font-sarabun">48</TableCell>
                        <TableCell className="font-sarabun">48</TableCell>
                    </TableRow>
                </TableBody>
            </Table>
            <p class="font-sarabun">All students must register for course 2301894, Doctoral Dissertation Seminar in every semester. The course is graded S/U and does not count towards the credit requirements. Students must receive a grade of S in the final semester before graduation.</p>
        </main>
    </div>


</BaseLayout>