---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Applied Mathematics and Computational Science Program">
    <Hero 
        title="Applied Mathematics and Computational Science (M.Sc & Ph.d.)" 
    />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20 p-5">
        <aside class="col-span-1">
            <nav>
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a class="p-5" href="academics">Academics</a>
                    <a class="p-5" href="qualification">Qualification</a>
                    <a class="p-5" href="apply">Apply</a>
                    <a class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white" href="opportunities">Opportunities</a>
                    <a class="p-5" href="./qualifying-exam">Qualifying Exam</a>
                </ul>
            </nav>
        </aside>
        <main class="md:col-span-3 my-5 grid space-y-5 font-sarabun">
            <h2 class="text-5xl font-kanit font-semibold">Opportunities</h2>
            <p>The curriculum encourages students to participate in activities that promote the desired attributes of Chulalongkorn University graduates which include (1) critical thinking, (2) problem solving, (3) communication, (4) teamwork, (5) ethics and (6) social responsibility. It offers opportunities for internships with private organizations and research work with organizations that have signed memorandums of understanding (MOUs).</p>
            <p>Graduates from applied mathematics and computational science have a plethora of exciting career paths available to them, thanks to the versatility of their skills in problem-solving, data analysis, and modeling. Here are some potential options across various industries:</p>

            <section>
                <h3 class="font-kanit font-semibold text-xl">Finance and Quantitative Analysis:</h3>
                <ul class="list-disc list-inside">
                    <li>Quantitative Analyst (Quant): Develop and implement complex mathematical models for pricing financial instruments, managing risk, and making investment decisions.</li>
                    <li>Risk Analyst: Design and analyze risk models for creditworthiness, market fluctuations, and operational inefficiencies in financial institutions.</li>
                    <li>Algorithmic Trader: Use computational algorithms to automate trading strategies based on market data and quantitative analysis.</li>
                </ul>
            </section>
            <section>
                <h3 class="font-kanit font-semibold text-xl">Operations and Supply Chain Management:</h3>
                <ul class="list-disc list-inside">
                    <li>Operations Research Analyst: Utilize optimization techniques to design efficient production processes, logistics networks, and resource allocation strategies.</li>
                    <li>Inventory Planner: Apply optimization models to forecast demand, manage inventory levels, and optimize procurement processes.</li>
                    <li>Supply Chain Analyst: Analyze and improve supply chain efficiency by optimizing transportation routes and warehouse operations.</li>
                    <li>Computational Scientist: Apply optimization tools to solve complex problems in various fields like physics, chemistry, engineering design, and climate modeling.</li>
                    <li>Civil Engineer: Develop and utilize optimization models for designing transportation networks, infrastructure projects and building structures.</li>
                </ul>
            </section>
            <section>
                <h3 class="font-kanit font-semibold text-xl">Data Science and Machine Learning:</h3>
                <ul class="list-disc list-inside">
                    <li>Data Scientist: Collect, clean, analyze, and interpret large datasets to extract insights and build predictive models for various applications.</li>
                    <li>Machine Learning Engineer: Develop and implement machine learning algorithms for tasks like image recognition, natural language processing, and recommendation systems.</li>
                    <li>Data Analyst: Focus on analyzing and visualizing data to inform business decisions and solve specific problems in marketing, operations, or customer service.</li>
                    <li>Operations Research Engineer: Combine data analysis with optimization models to solve complex problems related to customer service, marketing campaigns, and resource allocation.</li>
                </ul>
            </section>
            <section>
                <h3 class="font-kanit font-semibold text-xl">Other Industries:</h3>
                <ul class="list-disc list-inside">
                    <li>Healthcare Analyst: Analyze patient data and healthcare operations to identify trends, improve efficiency, and optimize resource allocation.</li>
                    <li>Sustainability Consultant: Develop and implement optimization strategies to minimize environmental impact, optimize energy usage, and manage resources sustainably.</li>
                    <li>Game Developer: Use optimization techniques to create realistic game physics, AI-powered characters, and resource management systems.</li>
                </ul>
            </section>
        </main>
    </div>


</BaseLayout>