---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Applied Mathematics and Computational Science Program">
    <Hero 
        title="Applied Mathematics and Computational Science Program" 
        subtitle="Department of Mathematics and Computer Science"
    />

    <div class="grid grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20">
        <aside>
            <nav class="p-5">
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a class="p-5" href="../amcs">Overview</a>
                    <a class="p-5" href="academics">Academics</a>
                    <a class="p-5" href="qualification">Qualification</a>
                    <a class="p-5" href="apply">Apply</a>
                    <a class="p-5" href="opportunities">Opportunities</a>
                    <a class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white" href="qualifying-exam">Qualifying Exam</a>
                </ul>
            </nav>
        </aside>
        <main class="col-span-3 space-y-10 my-5">
            <h2 class="text-5xl font-semibold font-kanit">Qualifying Exam</h2>
            <section class="space-y-5">
                <p>The qualified Ph. D. candidate must pass two core subjects and one elective subject.
                    The two core subjects are Applied Analysis and Applied Linear Algebra. The elective subject can be chosen from Applied Statistics, Numerical Analysis, Fundamental of Mathematical Programming, Mathematical modeling or approved subject from Program committees.</p>
                    <p>Each subject must achieve a minimum passing score of 50%, and the overall average score must exceed a threshold of 60%.</p>
            </section>
        </main>
    </div>


</BaseLayout>