---
import Hero from "@/common/components/Hero.astro";
import { Table, TableCell, TableHead, TableHeader, TableRow } from "@/components/ui/table";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Us">
	<Hero title="About Us" subtitle="Who are we?" />
	<main class="font-kanit">
		<section class="mx-auto mt-5 max-w-screen-xl space-y-2.5 px-5">
			<h2 class="font-kanit text-4xl font-semibold text-slate-800">Introduction</h2>
			<p
				class="font-light text-slate-800 first-letter:text-4xl first-letter:font-semibold first-letter:text-primary"
			>
				The Department of Mathematics and Computer Science at Chulalongkorn University traces its roots back to
				January 29, 1933. Initially established as the Mathematics Division within the Faculty of Arts and
				Sciences, it later evolved into its current form as the Department of Mathematics and Computer Science.
			</p>
			<p class="font-light">
				Upon its inception, the division lacked dedicated facilities such as a student lounge, unlike other
				divisions such as chemistry, biology, and physics. Consequently, makeshift arrangements were made,
				utilizing rooms on the third floor of the physics building and within a wooden house. Over time, as the
				division grew, a dedicated mathematics building replaced the wooden house. Many years later, the
				building was expanded to include its own classrooms and an auditorium.
			</p>
			<p class="font-light">
				In a significant milestone, the Mathematics Division inaugurated its master's degree program in 1963,
				followed by the establishment of a Ph.D. program in 1980, initially admitting two Ph.D. students.
			</p>
			<p class="font-light">
				The Department of Mathematics and Computer Science has achieved several notable firsts at the national
				level. It pioneered bachelor's, master's, and Ph.D. programs in mathematics within the country.
				Additionally, it spearheaded the organization of seminars and conferences at both national and Southeast
				Asia levels. Another landmark achievement was the establishment of the Mathematical Association of
				Thailand, subsequently receiving the patronage of His Majesty the King.
			</p>
		</section>
		<section class="mx-auto mt-5 max-w-screen-xl space-y-5 px-5">
			<h2 class="font-kanit text-4xl font-semibold text-slate-800">Department Head</h2>
			<div class="bg-primary p-2.5 font-kanit text-slate-800">
				<h3 class="text-sm text-slate-500">Current</h3>
				<div class="grid">
					<p class="text-lg font-semibold">Assistant Professor Dr. Athipat Thamrongthanyalak</p>
					<p>2023 - Present</p>
				</div>
			</div>
			<h3 class="font-kanit text-2xl font-semibold text-slate-800">List of Past Department Head</h3>
			<Table>
				<TableHeader>
					<TableRow>
						<TableHead>Name</TableHead>
						<TableHead>Duty Periods</TableHead>
					</TableRow>
				</TableHeader>
				<tbody>
					<TableRow>
						<TableCell>Professor Sanoh Tanboonyeun</TableCell>
						<TableCell>1947-1965</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor Prapan Watcharapai</TableCell>
						<TableCell>
							<div>1966-1971</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor Khaisri Na Seenlawan</TableCell>
						<TableCell>
							<div>1972-1975</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor Surawit Kongsasana</TableCell>
						<TableCell>
							<div>1976-1979</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor M.R. Pakpongsanit Sanitwong</TableCell>
						<TableCell>
							<div>1980-1983</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Associate Professor Dr. Wiroon Boonsombat</TableCell>
						<TableCell>
							<div>1984-1987</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Assistant Professor Rajit Watanasin</TableCell>
						<TableCell>
							<div>1988-1994</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Assistant Professor La-or Chonwiriya</TableCell>
						<TableCell>
							<div>1994-1996</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Assistant Professor Rajit Watanasin</TableCell>
						<TableCell>
							<div>1996-1999</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Assistant Professor&nbsp;Suwimon&nbsp;Hall</TableCell>
						<TableCell>
							<div>1999-2000</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Associate Professor Dr. Wanida Hemakul</TableCell>
						<TableCell>
							<div>2000-2004</div>
						</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor Dr. Chidchanok Lursinsap</TableCell>
						<TableCell>2004-2006</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor Dr. Kritsana Neammanee</TableCell>
						<TableCell>2006-2014</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor Dr. Chidchanok Lursinsap</TableCell>
						<TableCell>2015-2017</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Professor Dr. Kritsana Neammanee</TableCell>
						<TableCell>2017-2021</TableCell>
					</TableRow>
					<TableRow>
						<TableCell>Associate Professor Dr. Ratinan Boonklurb</TableCell>
						<TableCell>2021-2023</TableCell>
					</TableRow>
				</tbody>
			</Table>
		</section>
		<section class="mt-10">
			<header class="mx-auto max-w-screen-xl p-5">
				<p class="text-center text-3xl font-semibold">Our department currently offers 8 programs of study:</p>
			</header>

			<div class="grid lg:grid-cols-2">
				<div class="bg-yellow-500 py-5 lg:bg-yellow-500">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:ml-auto lg:min-w-[640px]">
						<h3 class="text-2xl font-semibold">B.Sc. (Mathematics)</h3>
						<a
							href="/undergraduate/mathematics"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
				<div class="bg-yellow-500 py-5 lg:bg-yellow-600 lg:pl-5">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:pr-5">
						<h3 class="text-2xl font-semibold">B.Sc. (Computer Science)</h3>
						<a
							href="/undergraduate/computer-science"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
				<div class="bg-yellow-500 py-5 lg:bg-yellow-600">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:ml-auto lg:min-w-[640px]">
						<h3 class="text-2xl font-semibold">M.Sc. (Mathematics)</h3>
						<a
							href="/graduate/mathematics"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
				<div class="bg-yellow-500 py-5 lg:bg-yellow-500 lg:pl-5">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:pr-5">
						<h3 class="text-2xl font-semibold">M.Sc. (Computer Science and Information Technology)</h3>
						<a
							href="/graduate/csit"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
				<div class="bg-yellow-500 py-5 lg:bg-yellow-500">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:ml-auto">
						<h3 class="text-2xl font-semibold">M.Sc. (Applied Mathematics and Computational Science)</h3>
						<a
							href="/graduate/amcs"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
				<div class="bg-yellow-500 py-5 lg:bg-yellow-600 lg:pl-5">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:pr-5">
						<h3 class="text-2xl font-semibold">Ph.D. (Mathematics)</h3>
						<a
							href="/graduate/mathematics"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
				<div class="bg-yellow-500 py-5 lg:bg-yellow-600">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:ml-auto">
						<h3 class="text-2xl font-semibold">Ph.D. (Computer Science and Information Technology)</h3>
						<a
							href="/graduate/csit"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
				<div class="bg-yellow-500 py-5 lg:bg-yellow-500 lg:pl-5">
					<div class="flex h-32 max-w-[640px] flex-col justify-between px-5 lg:pr-5">
						<h3 class="text-2xl font-semibold">Ph.D. (Applied Mathematics and Computational Science)</h3>
						<a
							href="/graduate/amcs"
							class="w-fit border-2 border-black px-5 py-2.5 hover:bg-black hover:text-white">Explore</a
						>
					</div>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>
