---
import BaseLayout from "@/layouts/BaseLayout.astro";

import MHVH from "@/assets/img/mhvh/MHVH-Portriat.jpg";
import MenuCard from "@/common/components/Card/MenuCard/MenuCard.astro";
import { ArrowDownRightIcon } from "@heroicons/react/24/outline";
import { ArrowLongRightIcon } from "@heroicons/react/24/solid";
import { Image } from "astro:assets";

import AdvisingIcon from "@/assets/img/icon/card/Advising.png";
import GraduateIcon from "@/assets/img/icon/card/Graduate.png";
import PeopleIcon from "@/assets/img/icon/card/People.png";
import ResearchIcon from "@/assets/img/icon/card/Research.png";
import UndergraduateIcon from "@/assets/img/icon/card/Undergraduate.png";
import PostGrid from "@/common/components/Post/PostGrid";
import EventGrid from "@/modules/event/components/EventGridMain.astro";

const MenuData = [
    {
        title: "Undergraduate Programs",
        href: "/undergraduate",
        imgSrc: UndergraduateIcon,
    },
    {
        title: "Graduate Programs",
        href: "/graduate",
        imgSrc: GraduateIcon,
    },
    {
        title: "Undergraduate Advising",
        href: "/undergraduate/advising",
        imgSrc: AdvisingIcon,
    },
    {
        title: "People",
        href: "/directory",
        imgSrc: PeopleIcon,
    },
    {
        title: "Research",
        href: "/research",
        imgSrc: ResearchIcon,
    },
    {
        title: "Math Learning Center",
        href: "/ta-help-desk",
        imgSrc: ResearchIcon,
    },
];
---

<BaseLayout title="Home">
    <main>
        <section class="w-full max-h-[70vh] flex flex-col relative">
            <Image
                format="webp"
                src={MHVH}
                alt="MHVH"
                class="w-full overflow-hidden object-cover md:object-[center_80%] filter brightness-[0.65]"
            />
            <div class="w-screen flex absolute left-0 bottom-5 lg:bottom-20">
                <div class="grid max-w-screen-xl w-full mx-auto px-5">
                    <h1
                        class="text-white text-2xl md:text-4xl lg:text-7xl font-semibold"
                    >
                        Welcome to the Department of<br />
                        <span
                            class="underline decoration-4 lg:decoration-8 decoration-primary"
                            >Mathematics</span
                        > & <span
                            class="underline decoration-4 lg:decoration-8 decoration-primary"
                            >Computer Science</span>
                    </h1>
                    <a
                        href="/about-us"
                        class="flex justify-start mt-5 lg:mt-10"
                    >
                        <span
                            class="uppercase bg-primary p-1.5 md:p-2.5 text-sm md:text-xl w-fit font-kanit font-medium"
                        >
                            Explore our department
                        </span>
                        <div
                            class="bg-gray-700 flex justify-center items-center"
                        >
                            <ArrowDownRightIcon
                                client:load
                                className="w-5 h-5 text-white mx-2 md:mx-4"
                            />
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section class="mt-5">
            <div class="max-w-screen-xl w-full mx-auto px-5">
                <div
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-5"
                >
                    {
                        MenuData.map(({ title, href, imgSrc }) => (
                            <MenuCard
                                title={title}
                                href={href}
                                imgSrc={imgSrc}
                            />
                        ))
                    }
                </div>
            </div>
        </section>

        <!-- Start News -->
        <section id="news" class="mx-auto max-w-screen-xl px-5 mt-10 lg:mt-20">
            <header>
                <h2
                    class="uppercase text-center text-2xl md:text-4xl font-semibold underline decoration-primary decoration-4"
                >
                    News
                </h2>
            </header>
            <PostGrid client:load />
            <!-- <p class="mt-10 text-center">News will appear here 😝</p> -->
            <a
                href="/news-events"
                class="flex mt-10 text-center text-gray-500 w-full justify-center underline"
            >
                View All News
                <ArrowLongRightIcon className="w-5 h-5 ml-2" />
            </a>
        </section>
        <!-- End News -->
        <!-- Calendar -->
        <section
            id="event"
            class="mx-auto max-w-screen-xl px-5 mt-10 lg:mt-20 mb-10"
        >
            <header>
                <h2
                    class="uppercase text-center text-2xl md:text-4xl font-semibold underline decoration-primary decoration-4"
                >
                    Calendar
                </h2>
            </header>
            <EventGrid client:load />
            <a
                href="/events"
                class="flex mt-10 text-center text-gray-500 w-full justify-center underline"
            >
                View All Events
                <ArrowLongRightIcon className="w-5 h-5 ml-2" />
            </a>
        </section>
        <!-- End Calendar -->
    </main>
</BaseLayout>
