---
import BaseLayout from "@/layouts/BaseLayout.astro";

import MHVH from "@/assets/img/mhvh/MHVH-Portriat.jpg";
import MenuCard from "@/common/components/Card/MenuCard/MenuCard.astro";
import { ArrowDownRightIcon } from "@heroicons/react/24/outline";
import { ArrowLongRightIcon } from "@heroicons/react/24/solid";
import { Image } from "astro:assets";

import AdvisingIcon from "@/assets/img/icon/card/Advising.png";
import GraduateIcon from "@/assets/img/icon/card/Graduate.png";
import PeopleIcon from "@/assets/img/icon/card/People.png";
import ResearchIcon from "@/assets/img/icon/card/Research.png";
import UndergraduateIcon from "@/assets/img/icon/card/Undergraduate.png";
import PostGrid from "@/common/components/Post/PostGrid.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import EventGrid from "@/modules/event/components/EventGridMain.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const MenuData = [
	{
		title: t("home.undergraduate_programs"),
		href: "/undergraduate",
		imgSrc: UndergraduateIcon,
	},
	{
		title: t("home.graduate_programs"),
		href: "/graduate",
		imgSrc: GraduateIcon,
	},
	{
		title: t("home.undergraduate.advising"),
		href: "/undergraduate/advising",
		imgSrc: AdvisingIcon,
	},
	{
		title: t("home.people"),
		href: "/people",
		imgSrc: PeopleIcon,
	},
	{
		title: t("home.research"),
		href: "/research",
		imgSrc: ResearchIcon,
	},
	{
		title: t("home.math_learning_center"),
		href: "/ta-help-desk",
		imgSrc: ResearchIcon,
	},
];

export const prerender = false;
---

<BaseLayout title="Department of Mathematics and Computer Science | Chulalongkorn University">
	<main>
		<section class="relative flex max-h-[70vh] w-full flex-col">
			<Image
				format="webp"
				src={MHVH}
				alt="MHVH"
				class="w-full overflow-hidden object-cover brightness-[0.65] filter md:object-[center_80%]"
			/>
			<div class="absolute bottom-5 left-0 flex w-full lg:bottom-20">
				<div class="mx-auto grid w-full max-w-screen-xl px-5">
					<h1 class="text-2xl font-semibold text-white md:text-4xl lg:text-7xl">
						Welcome to the Department of<br />
						<span class="underline decoration-primary decoration-4 lg:decoration-8">Mathematics</span> & <span
							class="underline decoration-primary decoration-4 lg:decoration-8">Computer Science</span
						>
					</h1>
					<a href="/about-us" class="mt-5 flex justify-start lg:mt-10">
						<span
							class="w-fit bg-primary p-1.5 font-kanit text-sm font-medium uppercase md:p-2.5 md:text-xl"
						>
							Explore our department
						</span>
						<div class="flex items-center justify-center bg-gray-700">
							<ArrowDownRightIcon client:load className="mx-2 h-5 w-5 text-white md:mx-4" />
						</div>
					</a>
				</div>
			</div>
		</section>

		<section class="mt-5">
			<div class="mx-auto w-full max-w-screen-xl px-5">
				<div class="grid grid-cols-1 gap-2.5 md:grid-cols-2 lg:grid-cols-3">
					{MenuData.map(({ title, href, imgSrc }) => <MenuCard title={title} href={href} imgSrc={imgSrc} />)}
				</div>
			</div>
		</section>

		<!-- Start News -->
		<section id="news" class="mx-auto mt-10 max-w-screen-xl px-5 lg:mt-20">
			<header>
				<h2
					class="text-center text-2xl font-semibold uppercase underline decoration-primary decoration-4 md:text-4xl"
				>
					News
				</h2>
			</header>
			<PostGrid />
			<a href="/news-events" class="mt-10 flex w-full justify-center text-center text-gray-500 underline">
				View All News
				<ArrowLongRightIcon className="ml-2 h-5 w-5" />
			</a>
		</section>
		<!-- End News -->
		<!-- Calendar -->
		<section id="event" class="mx-auto mb-10 mt-10 max-w-screen-xl px-5 lg:mt-20">
			<header>
				<h2
					class="text-center text-2xl font-semibold uppercase underline decoration-primary decoration-4 md:text-4xl"
				>
					Calendar
				</h2>
			</header>
			<EventGrid />
			<a href="/events" class="mt-10 flex w-full justify-center text-center text-gray-500 underline">
				View All Events
				<ArrowLongRightIcon className="ml-2 h-5 w-5" />
			</a>
		</section>
		<!-- End Calendar -->
	</main>
</BaseLayout>
