---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Our Department">
    <header class="max-w-7xl mx-auto px-5">
        <h1
            transition:name="title"
            class="uppercase text-2xl lg:text-4xl underline decoration-primary decoration-4 text-center py-10 font-kanit font-semibold"
        >
            Our Department
        </h1>
    </header>
    <main></main>
</BaseLayout>
