---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="TA Help Desk">
    <Hero title="TA Help Desk" subtitle="Get help from a TA" />
    <main class="my-10 max-w-screen-xl mx-auto px-5 space-y-5">
        <section>
            <p class="font-kanit font-light text-lg">สำหรับนิสิตที่ต้องการความช่วยเหลือในรายวิชาพื้นฐานของสาขาวิชาคณิตศาสตร์ ไม่ว่าจะเป็นเพราะไม่เข้าใจเนื้อหา ทำโจทย์ไม่ได้ ฯลฯ ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์มีบริการให้คำปรึกษาแก่นิสิตในรายวิชาพื้นฐานของสาขาวิชาคณิตศาสตร์ (Help Desk) โดยนิสิตรุ่นพี่ระดับบัณฑิตศึกษาผู้มีความสามารถ ตั้งแต่วันที่ 15 มกราคม 2567 เป็นต้นไป</p>
        </section>
        <section>
            <h2 class="text-2xl font-semibold font-kanit">Schedule</h2>
            <table class="w-full font-kanit text-lg table-auto">
                <thead class="text-gray-500">
                    <tr class="text-left border-b">
                        <th class="pl-20 font-normal">Day</th>
                        <th class="font-normal">Time</th>
                    </tr>
                </thead>
                <tbody class="text-slate-800">
                    <tr class="border-b">
                        <td class="pl-20">Monday</td>
                        <td>12:30PM - 5:00PM</td>
                    </tr>
                    <tr class="border-b">
                        <td class="pl-20">Monday</td>
                        <td>12:30PM - 5:00PM</td>
                    </tr>
                    <tr class="border-b">
                        <td class="pl-20">Monday</td>
                        <td>12:30PM - 5:00PM</td>
                    </tr>
                    <tr class="border-b">
                        <td class="pl-20">Monday</td>
                        <td>12:30PM - 4:30PM</td>
                    </tr>
                    <tr class="border-b">
                        <td class="pl-20">Monday</td>
                        <td>12:30PM - 4:30PM</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section>
            <h2 class="text-2xl font-semibold font-kanit">Schedule</h2>
            <p>Room 608/4 floor 6 Mahamakut Building</p>
        </section>
        <section>
            <h2 class="text-2xl font-semibold font-kanit">Schedule</h2>
            <ul class="list-disc list-inside font-lg marker:text-yellow-400">
                <li>Calculus I</li>
                <li>Calculus II</li>
                <li>Linear Algebra I</li>
                <li>Mathematical Models and Reasoning</li>
                <li>Principle of Mathematics I</li>
                <li>Principle of Mathematics II</li>
            </ul>
        </section>
    </main>
</BaseLayout>