---
import Hero from "@/common/components/Hero.astro";
import SideBarUnGrad from "@/common/components/SIdebar/SideBarUnGrad.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CourseAPI, CourseName } from "@/libs/api/course";

const courseAPI = new CourseAPI();
const content = await courseAPI.getCourse(
    CourseName.CSBSC,
    "opportunities_english",
);
---

<BaseLayout title="Computer Science">
    <Hero
        title="Computer Science (B.Sc.)"
        subtitle="Department of Mathematics and Computer Science"
    />

    <div
        class="grid grid-cols-1 md:grid-cols-4 max-w-screen-xl mx-auto gap-5 md:gap-10 mb-20 p-5"
    >
        <aside class="col-span-1">
            <SideBarUnGrad />
        </aside>
        <main
            class="md:col-span-3 my-5 grid space-y-5 font-sarabun overflow-x-auto"
        >
            <h2 class="text-5xl font-kanit font-semibold">Opportunities</h2>
            <div set:html={content} />
        </main>
    </div>
</BaseLayout>
