---
import Hero from "@/common/components/Hero.astro";
import SideBarUnGrad from "@/common/components/SIdebar/SideBar.astro";
import Render from "@/common/page/render.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { createSidebarItemsUndergraduate, programPageID } from "@/libs/const";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title={t("program.undergraduate.computer_science.prospective_students.title")}>
	<Hero
		title={t("program.undergraduate.computer_science.prospective_students.hero.title")}
		subtitle={t("program.undergraduate.computer_science.prospective_students.hero.subTitle")}
	/>
	<div class="mx-auto mb-20 grid max-w-screen-xl grid-cols-1 gap-5 p-5 md:grid-cols-4 md:gap-10">
		<aside class="col-span-1">
			<nav class="sticky top-32 bg-gray-50">
				<SideBarUnGrad navItems={createSidebarItemsUndergraduate("computer-science", lang)} />
			</nav>
		</aside>
		<main class="overflow-x-auto font-sarabun md:col-span-3">
			<Render pageId={programPageID.undergradudate.computer_science.prospective_students.en} />
		</main>
	</div>
</BaseLayout>
