---
const { title, subtitle } = Astro.props
---

<header class="bg-[url('/mhvh/MHVH-Corner.jpg')] h-40 lg:h-80 bg-[center_50%] bg-cover bg-no-repeat bg-blend-darken bg-black/50 [clip-path:polygon(0_0,100%_0,100%_80%,0_100%)]">
    <div class="flex flex-col max-w-screen-xl mx-auto px-5 justify-center items-start h-full space-y-2.5">
        <h1 class="text-left uppercase font-semibold text-2xl lg:text-6xl text-white font-kanit">{title}</h1>
        <h2 class="text-white lg:text-2xl font-kanit">{subtitle}</h2>
    </div>
</header>