---
interface Props {
    news: {
        title: string
        thumbnail: string
        date: Date
        slug: string
    }
}


const { news } = Astro.props
const { title, thumbnail, date, slug } = news

import { format } from "date-fns"
---

<a 
    href={`/posts/${slug}`}
    class="peer group"
    >
    <div class="grid">
        <img
        src={thumbnail}
        alt={thumbnail}
        class="aspect-square object-cover w-full h-full peer group-hover:scale-105 transition-transform rounded-sm"
        />
        <div class="flex flex-col h-full justify-between pt-5">
            <h3 class="text-xl font-kanit text-slate-800 peer group-hover:text-yellow-500">
                {title}
            </h3>
            <p class="mt-3 text-light text-slate-300">
                {format(date, "MMM dd, yyyy")}
            </p>
        </div>
    </div>
</a>