---
interface Props {
	news: {
		title: string;
		thumbnail: string;
		date: Date;
		slug: string;
	};
}

const { news } = Astro.props;
const { title, thumbnail, date, slug } = news;

import { format } from "date-fns";
---

<a href={`/posts/${slug}`} class="group peer">
	<div class="grid">
		<img
			src={thumbnail}
			alt={thumbnail}
			class="peer aspect-square h-full w-full rounded-sm object-cover transition-transform group-hover:scale-105"
		/>
		<div class="flex h-full flex-col justify-between pt-5">
			<h3 class="peer font-kanit text-xl text-slate-800 group-hover:text-yellow-500">
				{title}
			</h3>
			<p class="text-light mt-3 text-slate-300">
				{format(date, "MMM dd, yyyy")}
			</p>
		</div>
	</div>
</a>
