---
const { news } = Astro.props;
const { title, thumbnail, date, slug } = news;

import { format } from "date-fns";
---

<a href={`/posts/${slug}`} class="grid grid-cols-3 border border-gray-200 shadow-md">
	<div class="col-span-1">
		<img src={thumbnail} alt={thumbnail} class="aspect-square h-auto w-96 object-cover" />
	</div>
	<div class="col-span-2 flex h-full flex-col justify-between p-5">
		<h3 class="font-kanit text-xl text-slate-800">
			{title}
		</h3>
		<p class="text-light mt-3 text-slate-300">
			{format(date, "MMM dd, yyyy")}
		</p>
	</div>
</a>
