---
import Hero from "@/common/components/Hero.astro";
import SideBarUnGrad from "@/common/components/SIdebar/SideBar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import { CourseAPI, CourseName } from "@/libs/api/course";

const courseAPI = new CourseAPI();
const content = await courseAPI.getCourse(CourseName.CSBSC, "academic_thai");
---

<BaseLayout title="Computer Science">
    <Hero
        title="Computer Science (B.Sc.)"
        subtitle="Department of Mathematics and Computer Science"
    />

    <div
        class="grid grid-cols-1 md:grid-cols-4 max-w-screen-xl mx-auto gap-5 md:gap-10 mb-20 p-5"
    >
        <aside>
            <SideBarUnGrad />
        </aside>
        <main class="md:col-span-3 my-5 grid space-y-5 overflow-x-auto">
            <h2 class="font-kanit text-5xl font-semibold">Academics</h2>
            <div set:html={content} />
        </main>
    </div>
</BaseLayout>
