---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Math Consult">
	<Hero title="Math Consult" subtitle="Get help from TAs" />
	<main class="mx-auto my-10 max-w-screen-xl space-y-5 px-5">
		<section class="space-y-2">
			<p class="font-sarabun text-base">
				For students seeking advice on fundamental mathematics subjects—whether they're struggling to understand
				lessons, facing difficulties with exercises, or need help with related concerns—the Department of
				Mathematics and Computer Science offers the Math Consult Room. Starting January 21, 2025, our friendly
				and capable graduate students will be available to assist you.
			</p>
		</section>
		<section class="space-y-2">
			<h2 class="font-kanit text-2xl font-semibold">Office Hours</h2>
			<table class="w-full table-auto font-sarabun text-base">
				<thead class="text-gray-500">
					<tr class="border-b text-left">
						<th class="pl-20 font-normal">Day</th>
						<th class="font-normal">Time</th>
					</tr>
				</thead>
				<tbody class="text-slate-800">
					<tr class="border-b">
						<td class="pl-20">Tuesday</td>
						<td>12:30 - 16:30</td>
					</tr>
					<tr class="border-b">
						<td class="pl-20">Wednesday</td>
						<td>12:30 - 14:00 </td>
					</tr>
					<tr class="border-b">
						<td class="pl-20">Thursday</td>
						<td>12:30 - 16:30</td>
					</tr>
					<tr class="border-b">
						<td class="pl-20">Friday</td>
						<td>12:30 - 16:30</td>
					</tr>
				</tbody>
			</table>
		</section>
		<section class="space-y-2">
			<h2 class="font-kanit text-2xl font-semibold">Location</h2>
			<p class="font-sarabun text-base">Room 909/9 on the 9th floor, Maha Vajirunhis Building</p>
		</section>
		<section class="space-y-2">
			<h2 class="font-kanit text-2xl font-semibold">
				During the second semester of the academic year 2024, we provide assistance for the following courses
			</h2>
			<p class="font-sarabun text-base">
				Calculus 1-2, Mathematical Models and Reasoning, Linear Algebra, Principle of Mathematics, Probability
				and Statistics.
			</p>
			<p class="font-sarabun text-base">
				Stay connected with us through our LINE Official Account: <a
					class="text-primary underline"
					href="https://lin.ee/U3jOo0m">https://lin.ee/U3jOo0m</a
				>
			</p>
		</section>
	</main>
</BaseLayout>
