---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Undergraduate Advising">
    <Hero title="Undergraduate Advising" />
    <p class="max-w-screen-xl mx-auto p-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam explicabo dolorum fuga natus quo a aspernatur magnam eum corporis, quae voluptatum impedit repellat omnis consequatur aut molestiae dolorem. Officiis eaque animi ducimus ab ad ratione, architecto, molestiae nostrum at itaque nisi. Magnam atque ipsam modi ducimus exercitationem eius consequatur magni fugiat earum commodi, iure architecto id, cupiditate velit, adipisci enim ipsum. Doloremque debitis in dolorem fuga, hic blanditiis minus similique dicta eos sit assumenda obcaecati perspiciatis a quae molestiae ea adipisci omnis ducimus. Commodi, nobis qui, assumenda ipsa unde odio quaerat rem fugit velit dolorum aspernatur neque amet voluptatum ipsum alias laborum voluptas tempore ipsam, voluptatem nulla inventore? Laudantium voluptatum repellendus eum quam quis perferendis. Quo quas quibusdam neque dolores magni repellat nemo, reiciendis omnis eos numquam hic iure nesciunt corporis dolorum, molestiae nulla at saepe iusto cumque doloribus sequi ut quia fugit vel. Pariatur excepturi consequatur corrupti ratione amet aut, assumenda maxime modi hic suscipit perferendis illum, sit totam deserunt unde sed voluptatem nisi voluptas velit minus eius ipsam. Placeat quos nulla officia quae facilis inventore, error necessitatibus nihil vero. Dolorem numquam natus quam amet distinctio molestias quas ab. Dolorum porro asperiores reprehenderit voluptatibus, sit voluptate eius consectetur.
    </p>
</BaseLayout>