---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ChevronRightIcon } from "@heroicons/react/24/outline";
---

<BaseLayout title="Undergraduate">
	<Hero title="Undergraduate" />

	<main class="mx-auto max-w-screen-xl space-y-10 p-5">
		<section class="space-y-5">
			<h2 class="font-kanit text-5xl font-semibold">Overview</h2>
			<p class="font-sarabun">
				The gateway to infinite possibilities Our department of matematics and computer science offers a
				flexible curriculum in two majors: Mathematics and Computer Science. Students can plan and select
				courses to pursue their own future. Many graduates earn scholarships to study abroad, while others find
				employment in industry-leading companies.
			</p>
		</section>
		<section class="space-y-5">
			<h2 class="font-kanit text-5xl font-semibold">Our Undergraduate Programs</h2>
			<div class="grid gap-5 md:grid-cols-3">
				<article class="bg-slate-800 text-white shadow-lg">
					<img src="/placeholder.jpeg" alt="" class="brightness-75 filter" />
					<div class="flex h-full flex-col justify-between p-5">
						<div>
							<h3 class="mb-5 font-kanit text-3xl font-medium">Mathematics</h3>
						</div>
						<a href="undergraduate/mathematics" class="mt-5 flex items-center font-kanit text-yellow-500"
							>Learn more <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
				<article class="bg-slate-800 text-white shadow-lg">
					<img src="/placeholder.jpeg" alt="" class="brightness-75 filter" />
					<div class="flex h-full flex-col justify-between p-5">
						<div>
							<h3 class="mb-5 font-kanit text-3xl font-medium">Computer Science</h3>
						</div>
						<a
							href="undergraduate/computer-science"
							class="mt-5 flex items-center font-kanit text-yellow-500"
							>Learn more <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
			</div>
		</section>
	</main>
</BaseLayout>
