---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ChevronRightIcon } from "@heroicons/react/24/solid";
---

<BaseLayout title="Mathematics">
    <Hero title="Mathematics" />

    <main class="mt-10">
        <section class="max-w-screen-xl mx-auto px-5">
            <p class="font-sarabun font-light text-lg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis laboriosam minus excepturi earum nobis non vel, ratione sapiente corrupti perspiciatis porro repudiandae voluptatibus animi soluta, quod commodi. Voluptas unde rem totam natus tempora? Natus quos necessitatibus exercitationem at amet mollitia perferendis, eligendi libero culpa quo minus nobis molestiae doloribus expedita voluptas, fugiat dolor perspiciatis possimus quasi aliquid iusto? Laboriosam maiores quo recusandae ad aliquam mollitia reiciendis libero, eaque cum vitae, itaque, rem quisquam dolore enim consequatur pariatur! Nulla facere dolores sed! Consequuntur, pariatur! Quae dolore similique rerum, repellendus explicabo quis nobis ab ad ipsum consectetur animi, tenetur ullam amet quo.</p>
            <a class="mt-5 text-yellow-500 font-medium underline font-kanit text-lg inline-flex items-center" href="">Major and Minor <ChevronRightIcon className="w-5 h-5" /></a>
        </section>

        <section class="max-w-screen-xl mx-auto px-5 space-y-5">
            <h2 class="font-kanit font-semibold text-4xl mt-10">Academics</h2>
            <p class="font-sarabun font-light text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui officiis libero quod eos, rem corporis sit. Maiores, similique facere obcaecati repellat itaque ab deleniti porro sint culpa reprehenderit necessitatibus, accusantium iusto dignissimos excepturi natus eveniet quod, architecto sed earum ipsum ad. Odio sequi sapiente necessitatibus? Ex, vel expedita ad laborum, odit sequi saepe fuga tempore ab fugiat eligendi corporis magnam accusantium, deleniti beatae omnis vero repellendus. Non voluptates iure ab laboriosam expedita ad necessitatibus fuga, accusamus dolorem, nulla minima consectetur rerum libero tempora nemo eius quo delectus repudiandae. Reprehenderit expedita distinctio laborum ratione, asperiores voluptatum assumenda voluptas impedit magni eum ipsa similique perferendis dolorem ut obcaecati eius dolore rerum, odit rem. Possimus, reiciendis magni omnis officia perferendis non autem harum laborum assumenda totam nisi quisquam mollitia corporis odio consequatur suscipit beatae ullam optio? Necessitatibus dolore laborum aliquid et earum officia corporis exercitationem explicabo impedit aliquam, vero magni quaerat aut cum. Fugit, quos nesciunt? Aspernatur, ex sit qui earum, quas explicabo quis magni possimus quidem, hic quasi! Quo saepe iste asperiores, accusantium et reprehenderit officiis pariatur, nobis officia placeat provident at esse assumenda! Tenetur tempora incidunt libero nesciunt impedit, quam minima, ipsa voluptatibus tempore beatae nulla at eligendi? Deleniti, recusandae.
            </p>
        </section>
        <section class="max-w-screen-xl mx-auto px-5 space-y-5">
            <h2 class="font-kanit font-semibold text-4xl mt-10">Oppurtunity in Mathematics</h2>
            <p class="font-sarabun font-light text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui officiis libero quod eos, rem corporis sit. Maiores, similique facere obcaecati repellat itaque ab deleniti porro sint culpa reprehenderit necessitatibus, accusantium iusto dignissimos excepturi natus eveniet quod, architecto sed earum ipsum ad. Odio sequi sapiente necessitatibus? Ex, vel expedita ad laborum, odit sequi saepe fuga tempore ab fugiat eligendi corporis magnam accusantium, deleniti beatae omnis vero repellendus. Non voluptates iure ab laboriosam expedita ad necessitatibus fuga, accusamus dolorem, nulla minima consectetur rerum libero tempora nemo eius quo delectus repudiandae. Reprehenderit expedita distinctio laborum ratione, asperiores voluptatum assumenda voluptas impedit magni eum ipsa similique perferendis dolorem ut obcaecati eius dolore rerum, odit rem. Possimus, reiciendis magni omnis officia perferendis non autem harum laborum assumenda totam nisi quisquam mollitia corporis odio consequatur suscipit beatae ullam optio? Necessitatibus dolore laborum aliquid et earum officia corporis exercitationem explicabo impedit aliquam, vero magni quaerat aut cum. Fugit, quos nesciunt? Aspernatur, ex sit qui earum, quas explicabo quis magni possimus quidem, hic quasi! Quo saepe iste asperiores, accusantium et reprehenderit officiis pariatur, nobis officia placeat provident at esse assumenda! Tenetur tempora incidunt libero nesciunt impedit, quam minima, ipsa voluptatibus tempore beatae nulla at eligendi? Deleniti, recusandae.
            </p>
        </section>
        <section class="max-w-screen-xl mx-auto px-5 pb-20 space-y-5">
            <h2 class="font-kanit font-semibold text-4xl mt-10">Frequently Asked Questions</h2>
            <p class="font-sarabun font-light text-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae qui officiis libero quod eos, rem corporis sit. Maiores, similique facere obcaecati repellat itaque ab deleniti porro sint culpa reprehenderit necessitatibus, accusantium iusto dignissimos excepturi natus eveniet quod, architecto sed earum ipsum ad. Odio sequi sapiente necessitatibus? Ex, vel expedita ad laborum, odit sequi saepe fuga tempore ab fugiat eligendi corporis magnam accusantium, deleniti beatae omnis vero repellendus. Non voluptates iure ab laboriosam expedita ad necessitatibus fuga, accusamus dolorem, nulla minima consectetur rerum libero tempora nemo eius quo delectus repudiandae. Reprehenderit expedita distinctio laborum ratione, asperiores voluptatum assumenda voluptas impedit magni eum ipsa similique perferendis dolorem ut obcaecati eius dolore rerum, odit rem. Possimus, reiciendis magni omnis officia perferendis non autem harum laborum assumenda totam nisi quisquam mollitia corporis odio consequatur suscipit beatae ullam optio? Necessitatibus dolore laborum aliquid et earum officia corporis exercitationem explicabo impedit aliquam, vero magni quaerat aut cum. Fugit, quos nesciunt? Aspernatur, ex sit qui earum, quas explicabo quis magni possimus quidem, hic quasi! Quo saepe iste asperiores, accusantium et reprehenderit officiis pariatur, nobis officia placeat provident at esse assumenda! Tenetur tempora incidunt libero nesciunt impedit, quam minima, ipsa voluptatibus tempore beatae nulla at eligendi? Deleniti, recusandae.
            </p>
        </section>
    </main>
</BaseLayout>
