---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Computer Science and Information Technology (M.Sc.)">
    <Hero
        title="Computer Science and Information Technology (M.Sc.)" 
    />

    <div class="grid md:grid-cols-4 max-w-screen-xl mx-auto gap-10 mb-20 p-5">
        <aside>
            <nav>
                <ul class="bg-gray-100 font-kanit text-xl grid">
                    <a 
                        href="academics" 
                        class="p-5 border-l-8 border-yellow-400 underline decoration-4 decoration-yellow-400 bg-slate-900 text-white"
                    >
                        Academics
                    </a>
                    <a 
                        href="qualification" 
                        class="p-5"
                    >
                        Qualification
                    </a>
                    <a 
                        href="apply" 
                        class="p-5"
                    >
                        Apply
                    </a>
                    <a 
                        href="opportunities" 
                        class="p-5"
                    >
                        Opportunities
                    </a>
                    <a 
                        href="entrance-exam" 
                        class="p-5"
                    >
                        Extrance Examination
                    </a>
                </ul>
            </nav>
        </aside>
        <main class="md:col-span-3 my-5 space-y-10 font-sarabun">
            <h2 class="font-kanit font-semibold text-5xl">Academics</h2>
            <p>
                The Department of Mathematics and Computer Science at Chulalongkorn University is at the frontier of interdisciplinary research between Mathematics and Computer Science. The department has conducted a wide range of advanced research activities in close cooperation with Thailand Research Fund (TRF) and National Electronics and Computer technology Center (NECTEC). As a consequence, the M.Sc. program in Computer Science and Information Technology offers an excellent opportunity and environment for individuals who wish to pursue in-depth knowledge and advanced research in computer science and information technology. It is designed to collaborate the existing Ph.D. Program in Computer Science and Information Technology.  Various innovations and technical know-how can then be realized through master theses and projects.  In addition, academic and industrial collaborations will also be established to further enhance the potential of those innovative implementations for the benefit of the academic and industrial communities.  Career advancement will consequently be augmented.
            </p>
            
            <section class="space-y-2.5">
                <h3 class="font-kanit font-semibold text-3xl">Financial Aids</h3>
                <ul class="list-disc list-inside">
                    <li>Teaching and research assistantship</li>
                    <li>ASEAN/Non-ASEAN Scholarship</li>
                    <li>National Science and Technology  Development Agency (NSTDA)</li>
                    <li>NECTEC</li>
                    <li>TRF</li>
                    <li>National Research Council</li>
                </ul>
            </section>

            <section class="space-y-2.5">
                <h3 class="font-kanit font-semibold text-3xl">Collaboration with research agencies and institutions</h3>
                <ul class="list-disc list-inside">
                    <li>Computer Science: Cooperative Research Network (CRN).</li>
                    <li>National Science and Technology Development Agency (NSTDA) and its affiliation—National Electronic and Computer Technology Center (NECTEC).</li>
                    <li>Foreign research residency of Ph.D. candidates in USA (University of Louisiana at Lafayette), Japan (National Institute of Informatics), and Canada (University of Alberta).</li>
                </ul>
            </section>

            <section class="space-y-2.5">
                <h3 class="font-kanit font-semibold text-3xl">Key research areas</h3>
                <ul class="list-disc list-inside">
                    <li>Artificial Intelligence, Machine Learning, and Neural Computing.</li>
                    <li>Image Processing, Computer Vision, and Visualization.</li>
                    <li>Software and Knowledge Engineering.</li>
                    <li>Computer Networking.</li>
                    <li>Bioinformatics, Plant Modeling, and Simulation.</li>
                </ul>
            </section>

            <section class="space-y-5">
                <h3 class="font-kanit font-semibold text-3xl">Fees</h3>
                <p class="font-sarabun">The following fees apply to both credit and noncredit (audit) registrations and are subject to change.</p>
                <ol class="list-decimal list-inside space-y-2.5">
                    <li>Application
                        <p>There is a 1,000 Baht non-refundable application fee payable in two ways, cash (in person) or cheque/bank draft pay to the order of Faculty of Science, Chulalongkorn University and mail it to Graduate Studies in Computer Science and Information Technology, Department of Mathematics and Computer Science, Faculty of Science, Chulalongkorn University, Phyathai Road, Bangkok 10330, Thailand</p>
                    </li>
                    <li>Academic semester tuition (all rates are subject to change which will be announced by the Office of the Registrar.  Please consult http://www.reg.chula.ac.th/ for latest rate updates):
                        <ul class="list-disc list-inside">
                            <li>Thai resident: There is a semester fee of 58,500 Baht payable to two separate accounts, namely, 33,500 Baht to the Office of the Registrar, and 25,000 Baht to the Department of Mathematics and Computer Science.  </li>
                            <li>Non-Thai resident: there is a semester fee of 118,500 Baht payable to two separate accounts, namely, 33,500 Baht to the Office of the Registrar, and 85,000 Baht to the Department of Mathematics and Computer Science.</li>
                        </ul>
                    </li>
                    <li>
                        Graduate
                        <p>Graduation must be filed with the Office of Graduate Studies, Chulalongkorn University.  There is a 1,000 Baht/day late charge if application is not made within the deadline.</p>
                    </li>
                </ol>
            </section>
        </main>
    </div>


</BaseLayout>