---
import "@fontsource-variable/work-sans";
import "@fontsource/kanit/100.css";
import "@fontsource/kanit/200.css";
import "@fontsource/kanit/300.css";
import "@fontsource/kanit/400.css";
import "@fontsource/kanit/500.css";
import "@fontsource/kanit/600.css";
import "@fontsource/kanit/700.css";
import "@fontsource/kanit/800.css";
import "@fontsource/kanit/900.css";

import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
import Navbar from "@/common/components/Navbar";
import Footer from "@/common/components/Footer.astro";
import Menu from "@/common/components/Menu/Menu";

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;

const currentURL = Astro.url;
---

<!doctype html>
<html lang="th">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description || ""} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap"
			rel="stylesheet"
		/>

		<title>{title}</title>

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<ViewTransitions />
	</head>
	<body>
		<Menu currentURL={currentURL} client:load />
		<Navbar currentURL={currentURL} client:load />
		<div id="content">
			<div class="pt-[80px]">
				<slot />
			</div>
			<Footer />
		</div>

		<style is:global>
			#content {
				overflow-x: h;
				transition-property: transform;
				transition-duration: 500ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}

			#content.menu-open {
				transform: translateX(-350px);
			}
		</style>
		<script>
			import { isMenuOpen } from "@/store/menuStore";

			isMenuOpen.subscribe((value) => {
				if (value) {
					const contentElement = document.getElementById("content");
					if (contentElement !== null) {
						contentElement.classList.add("menu-open");
					}
				} else {
					const contentElement = document.getElementById("content");
					if (contentElement !== null) {
						contentElement.classList.remove("menu-open");
					}
				}
			});
		</script>
	</body>
</html>
