---
import Hero from "@/common/components/Hero.astro";
import { Table, TableBody, TableCell, TableHead, TableHeader, TableRow } from "@/components/ui/table";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CheckIcon } from "@heroicons/react/24/solid";
---

<BaseLayout title="กิจการนิสิต | ปริญญาตรี">
	<Hero title="กิจการนิสิต" />
	<main class="mx-auto mb-20 max-w-(--breakpoint-xl) space-y-10 p-5">
		<section class="space-y-5">
			<h2 class="font-kanit text-3xl font-semibold">ทุนการศึกษา</h2>
			<p>
				จุฬาลงกรณ์มหาวิทยาลัยมีทุนการศึกษามากมายเพื่อให้นักศึกษามีโอกาสเข้าถึงการศึกษาและค่าใช้จ่ายได้อย่างเท่าเทียม
				ทุนการศึกษาของเรามีโอกาสมากขึ้นสำหรับทั้งนักศึกษาปริญญาตรีและบัณฑิตศึกษา
			</p>
		</section>
		<section class="space-y-5">
			<h2 class="font-kanit text-3xl font-semibold">ทุนการศึกษาสำหรับนักศึกษาปริญญาตรี</h2>
			<p>
				ภาควิชาของเรามีทุนการศึกษาจำนวนมากจากจุฬาลงกรณ์มหาวิทยาลัยและการสนับสนุนจากภายนอก
				เราสนับสนุนนักเรียนที่มีศักยภาพทางวิชาการที่ยอดเยี่ยมในการศึกษาต่อในสาขาวิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์
			</p>

			<Table>
				<TableHeader>
					<TableRow>
						<TableHead>ทุนการศึกษา</TableHead>
						<TableHead>ค่าเล่าเรียน</TableHead>
						<TableHead>ค่าใช้จ่าย</TableHead>
						<TableHead>ลิงก์</TableHead>
					</TableRow>
				</TableHeader>
				<TableBody>
					<TableRow>
						<TableCell>ทุนพระบาทสมเด็จพระเจ้าอยู่หัวมหาวชิราลงกรณ</TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell
							><a
								class="hover:underline"
								href="https://www.acad.sc.chula.ac.th/scholarship-detail.php?id=71&type=6"
								target="_blank"
								rel="noopener noreferrer"
								>https://www.acad.sc.chula.ac.th/scholarship-detail.php?id=71&type=6</a
							></TableCell
						>
					</TableRow>
					<TableRow>
						<TableCell>ทุนโครงการเกียรตินิยม</TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell />
					</TableRow>
					<TableRow>
						<TableCell
							>โครงการส่งเสริมและพัฒนานักวิทยาศาสตร์และเทคโนโลยีรุ่นใหม่ รัฐบาลไทย ทุนรัฐบาล</TableCell
						>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell
							><a
								class="hover:underline"
								href="https://www.acad.sc.chula.ac.th/scholarship-detail.php?id=71&type=6"
								target="_blank"
								rel="noopener noreferrer"
								>https://www.acad.sc.chula.ac.th/scholarship-detail.php?id=71&type=6</a
							></TableCell
						>
					</TableRow>
					<TableRow>
						<TableCell
							>โครงการส่งเสริมครูผู้มีความสามารถพิเศษทางวิทยาศาสตร์และคณิตศาสตร์ รัฐบาลไทย ทุนรัฐบาล</TableCell
						>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell />
					</TableRow>
					<TableRow>
						<TableCell>ทุนเรียนดีวิทยาศาสตร์ของประเทศไทย</TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell><CheckIcon className="h-5 w-5 text-green-500" /></TableCell>
						<TableCell
							><a
								class="hover:underline"
								href="https://www.acad.sc.chula.ac.th/scholarship-detail.php?id=71&type=6"
								target="_blank"
								rel="noopener noreferrer"
								>https://www.acad.sc.chula.ac.th/scholarship-detail.php?id=71&type=6</a
							></TableCell
						>
					</TableRow>
				</TableBody>
			</Table>
		</section>
	</main>
</BaseLayout>
