---
import Hero from "@/common/components/Hero.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ChevronRightIcon } from "@heroicons/react/24/outline";
---

<BaseLayout
	title="หลักสูตรปริญญาตรี | ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์"
	description="ประตูสู่ความเป็นไปได้ไม่สิ้นสุด ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์ของเรามีหลักสูตรที่ยืดหยุ่นในสองสาขาวิชา ได้แก่ คณิตศาสตร์ และ วิทยาการคอมพิวเตอร์ นิสิตสามารถวางแผนและเลือกรายวิชาให้เหมาะสมกับเส้นทางอนาคตที่วางไว้ บัณฑิตหลายคนได้รับทุนการศึกษาเพื่อไปศึกษาต่อในต่างประเทศ ในขณะที่บางคนได้ทำงานในบริษัทอุตสาหกรรมชั้นนำ"
>
	<Hero title="หลักสูตรปริญญาตรี" />

	<main class="mx-auto max-w-screen-xl space-y-10 p-5">
		<section class="space-y-5">
			<h2 class="font-kanit text-5xl font-semibold">ภาพรวม</h2>
			<p class="font-sarabun text-lg">
				ประตูสู่ความเป็นไปได้ไม่สิ้นสุด
				ภาควิชาคณิตศาสตร์และวิทยาการคอมพิวเตอร์ของเรามีหลักสูตรที่ยืดหยุ่นในสองสาขาวิชา ได้แก่ คณิตศาสตร์ และ
				วิทยาการคอมพิวเตอร์ นิสิตสามารถวางแผนและเลือกรายวิชาให้เหมาะสมกับเส้นทางอนาคตที่วางไว้
				บัณฑิตหลายคนได้รับทุนการศึกษาเพื่อไปศึกษาต่อในต่างประเทศ ในขณะที่บางคนได้ทำงานในบริษัทอุตสาหกรรมชั้นนำ
			</p>
		</section>
		<section class="space-y-5">
			<h2 class="font-kanit text-5xl font-semibold">หลักสูตรปริญญาตรี</h2>
			<div class="grid gap-5 md:grid-cols-3">
				<article class="bg-slate-800 text-white shadow-lg">
					<img src="/placeholder.jpeg" alt="" class="brightness-75 filter" />
					<div class="flex h-full flex-col justify-between p-5">
						<div>
							<h3 class="mb-5 font-kanit text-3xl font-medium">คณิตศาสตร์</h3>
						</div>
						<a href="undergraduate/mathematics" class="mt-5 flex items-center font-kanit text-yellow-500"
							>สำรวจ <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
				<article class="bg-slate-800 text-white shadow-lg">
					<img src="/placeholder.jpeg" alt="" class="brightness-75 filter" />
					<div class="flex h-full flex-col justify-between p-5">
						<div>
							<h3 class="mb-5 font-kanit text-3xl font-medium">วิทยาการคอมพิวเตอร์</h3>
						</div>
						<a
							href="undergraduate/computer-science"
							class="mt-5 flex items-center font-kanit text-yellow-500"
							>สำรวจ <ChevronRightIcon className="h-4 w-4" /></a
						>
					</div>
				</article>
			</div>
		</section>
	</main>
</BaseLayout>
