---
import type { Event } from "@/interfaces/event.interface";
import { format } from "date-fns";
const event: Event = Astro.props.event;

const { event_start, title } = event;
---

<article class="min-h-[300px] hover:border-b-yellow-500 hover:bg-gray-100">
	<h3 class="flex flex-col bg-yellow-400 px-5 py-2.5">
		<span class="mr-2 items-center text-2xl font-medium text-gray-500">
			{format(event_start, "MMM do")}
		</span>
	</h3>
	<div class="p-5">
		<span class="flex font-kanit text-sm font-medium text-gray-700">{format(event_start, "EEEE")}</span><br />
		<span class="mb-1 flex font-kanit text-sm font-medium text-gray-700">{format(event_start, "hh:mm aa")}</span><br
		/>
		<p class="font-kanit text-sm font-light text-gray-500 md:text-base">
			{title}
		</p>
	</div>
</article>
